section.signup-header
  padding: 0px 0px
  z-index: 1
  max-width: 100%
  margin: auto
  display: block
  overflow: hidden
  background: transparent

  .container
    max-width: 600px
    height: auto
    margin: auto
    overflow: hidden
    background: white
    padding: 40px
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.3)

    .project-listing
      max-width: auto

      h4
        header5()
        font-weight: 700
        letter-spacing: 0
        display: block
        padding-bottom: 10px

      em
        display: inline
        height: 25px
        font-size: 0.7em
        padding-right: 9px
        color: #FF5B1F
        font-weight: 500

      p
        paragraph()
        padding-top: 5px
        padding-bottom: 10px

      .tags
        display: block
        height: 30px
        position: relative
        top: 0
        padding-top: 15px

        span
          col(1/5)
          margin-top: 5px
          color: #222
          font-weight: 500
          font-size: 0.6em
          text-align: center
          background-color: #ddd
          box-shadow: 0px 10px 0 0 #ddd, 0px 10px 0 0 #ddd, 0px -10px 0 0 #ddd, 0px 10px 0 0 #ddd
          border-radius: 1px

    .bottom-row
      display: block
      margin-top: 30px
    
      a
        text-decoration: none

      button
        float: right
        button()
        display: block
        margin: 0px 0 40px
        width: 120px
        letter-spacing: 0px
        padding-top: 10px
        font-weight: 300
        height: 40px
        font-size: 14px
        background-color: $primary-color
      
      .company-logo

        img
          padding: 8px 10px
          float: left
          position: static
          text-align: left
          height: 24px
          width: auto