.user-dashboard
  max-width: 1000px
  border-top: 62px solid transparent
  margin: auto
  padding: 80px 0

  .user-info
    display: block
    margin-bottom: 80px
    height: 120px

    img.avatar
      col(1/7)
      height: auto
      border-radius: 100%

    article
      col(5/7)

      h2
        header2()
        letter-spacing: -1px
        display: inline
        font-weight: 700

    .feedback
      col(1/7)
      float: right
      text-align: center
      border-radius: 100%
      
      img
        display: block
        max-height: 94px
        center()
      
      h6
        display: block
        paragraph()
        center()
        font-size: 0.7em
        font-weight: 700
        padding-top: 8px

  .dashboard-container
    display: block
    height: 1000px
    
    .sidebar
      col(1/4)
      background-color: transparent
      padding-top: 50px
      height: 800px

      .check-box
        width 28px
        height 28px
        background #fcfff4
        background linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%)
        margin 20px auto
        box-shadow inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5)
        position relative
        
        label
          cursor pointer
          position absolute
          width 20px
          height 20px
          left 4px
          top 4px
          box-shadow inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1)
          background linear-gradient(top, #222 0%, #45484d 100%)
 
          &:after
            opacity 0
            content ''
            position absolute
            width 16px
            height 16px
            background #00bf00
            background linear-gradient(top, #00bf00 0%, #009400 100%)
            top 2px
            left 2px
            box-shadow inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5)
      
      span.active
        a
          box-shadow: inset 5px 0 0px 0 $teal
          opacity: 1
          background: #087cc9

      a
        display: block
        text-decoration: none
        height: 40px
        padding-top: 10px
        padding-bottom: 0
        margin-bottom: 0px
        cursor: pointer
        padding-left: 50px
        opacity: 0.7
        single-transition( opacity )
        
        &:hover, &:active
          single-transition( opacity )
          opacity: 1
          background-color: #087cc9

        p
          font-size: 1.2em
          position: relative
          margin-left: -15px
          color: #00FF00
          display: inline
          padding-right: 5px

        h6
          paragraph()
          font-size: 0.7em
          display: inline
          font-weight: 400

        img
          height: 20px
          display: inline
          top: 5px
          position: relative
          padding-right: 10px

      &:after
        display: block
        clear: both
        content: ''
   
    .content
      col(3/4)
      box-shadow: 0 -1px 0 0 yellow, 0 1px 0 0 yellow, 1px 0 0 0 yellow, -1px 0 0 0 yellow
      padding-top: 74px
      height: 800px

      .tab
        display: none

      h4
        header4()
        padding-left: 50px
        padding-right: 50px
        padding-bottom: 37px

      p
        paragraph()
        padding-left: 50px
        padding-right: 50px
        padding-bottom: 25px

      .tab.active
        display: block