section.project_index
  padding: 0px 0 80px
  border-top: 62px solid transparent
  background-color: #ddd

  h1.project-title
    display: block
    margin-bottom: 0px
    padding-top: 80px
    padding-bottom: 80px
    height: 80px
    header1()
    letter-spacing: -1px
    display: block
    font-weight: 700
    background-color: white
    text-align: center

  .dashboard-container
    display: block
    height: 1000px
    max-width: 1000px
    margin: auto
    padding-top: 60px

    .check-box
      width: 20px
      position: relative
      display: inline
      margin: 20px auto
      label
        width: 20px
        height: 20px
        cursor: pointer
        position: absolute
        top: -3px
        left: 0
        border: 2px solid $teal
        background: transparent
        border-radius: 2px
        &:after
          content: ''
          width: 9px
          height: 5px
          position: absolute
          top: 4px
          left: 4px
          border: 3px solid $teal
          border-top: none
          border-right: none
          background: transparent
          opacity: 0
          transform: rotate(-45deg)

        &:hover::after
          opacity: 0.3

    .check-box input[type=checkbox]
      visibility: hidden
      &:checked + label:after
        opacity: 1

    .sidebar
      col(1/3, gutter: 1)
      background-color: transparent
      padding-top: 0px
      height: 800px
      background-color: white

      h2
        header4()
        margin-top: 40px
        padding-bottom: 20px
        padding-left: 40px
        display: block
        text-transform: uppercase

      a
        display: block
        text-decoration: none
        height: 25px
        padding-top: 10px
        padding-bottom: 0
        padding-left: 60px
        margin-bottom: 0px
        cursor: pointer
        single-transition( opacity )

        h5
          display: inline
          font-size: 15px
          color: #000
          padding-left: 10px
          font-weight: 500

      &:after
        display: block
        clear: both
        content: ''

    .content
      col(2/3, gutter: 1)
      padding-top: 0px
      height: 1000px
      background-color: white
      padding-top: 40px

      .search-bar
        display: block
        height: auto
        text-align: center
        center()
        max-width: 600px
        background-color: #eee
        margin-top: 0px
        box-shadow: 0px 0px 0px 1px #ddd

        form
          max-width:600px
          margin: 0px auto
          outline: none
          display: block

        input
          width: 578px
          padding-top: 20px
          padding-bottom: 20px
          padding-left: 20px
          padding-right: 0
          font-size: 18px
          outline: none
          border: 1px solid transparent
          border-bottom-color: #ddd

          &:focus
            border: 1px solid $primary-color
            box-shadow: 0 0 0 0


        .search
          padding:8px 15px
          background:rgba(50, 50, 50, 0.2)
          border:0px solid #dbdbdb

        .button
          position:relative
          padding:6px 15px
          left:-8px
          border:2px solid #207cca
          background-color:#207cca
          color:#fafafa

          &:hover
            background-color:#fafafa
            color:#207cca

        select
          span(3/10)
          border: 1px solid transparent
          height: 42px
          font-family: $Gotham
          font-size: 14px
          font-weight: 300
          margin-left: 14px
          border-radius: 0px
          outline: none
          clearfix()
          background: #eee
          color: #888

        button
          col(2/9)
          shift(1/21)
          button()
          clearfix()
          border: none
          max-width: 120px
          height: 42px
          padding-top: 12px
          text-align: center
          background-color: $primary-color

      .tab
        display: none

      .tab.active
        display: block

      .project-listing
        max-width: 575px
        margin: auto
        padding: 40px 25px 80px
        display: block
        width: 100%
        border-bottom: 1px solid #ddd

        h4
          header4()
          letter-spacing: 0
          display: block
          padding-bottom: 15px

        em
          display: inline
          height: 25px
          font-size: 0.7em
          padding-right: 9px
          color: #FF5B1F
          font-weight: 500

        p
          paragraph()
          padding-top: 4px
          padding-bottom: 15px

        span
          col(1/5)
          margin-top: 15px
          color: #222
          font-weight: 500
          font-size: 0.6em
          text-align: center
          background-color: #ddd
          box-shadow: 0px 10px 0 0 #ddd, 0px 10px 0 0 #ddd, 0px -10px 0 0 #ddd, 0px 10px 0 0 #ddd
          border-radius: 1px