.user-dashboard
  max-width: 1000px
  border-top: 62px solid transparent
  margin: auto
  padding: 40px 0

  .project-title
    display: block
    margin-bottom: 0px
    height: 80px

    h2
      header2()
      letter-spacing: -1px
      display: inline
      font-weight: 700

    .feedback
      col(1/7)
      float: right
      text-align: center
      border-radius: 100%

      img
        display: block
        max-height: 94px
        center()

      h6
        display: block
        paragraph()
        center()
        font-size: 0.7em
        font-weight: 700
        padding-top: 8px

  .dashboard-container
    display: block
    height: 1000px

    .check-box
      width: 20px
      position: relative
      display: inline
      margin: 20px auto
      label
        width: 20px
        height: 20px
        cursor: pointer
        position: absolute
        top: -3px
        left: 0
        border: 2px solid $teal
        background: transparent
        border-radius: 2px
        &:after
          content: ''
          width: 9px
          height: 5px
          position: absolute
          top: 4px
          left: 4px
          border: 3px solid $teal
          border-top: none
          border-right: none
          background: transparent
          opacity: 0
          transform: rotate(-45deg)

        &:hover::after
          opacity: 0.3

    .check-box input[type=checkbox]
      visibility: hidden
      &:checked + label:after
        opacity: 1

    .sidebar
      col(1/3, gutter: 0.1)
      background-color: transparent
      padding-top: 0px
      height: 800px

      h2
        header4()
        margin-top: 40px
        padding-bottom: 20px
        display: block
        text-transform: uppercase

      a
        display: block
        text-decoration: none
        height: 40px
        padding-top: 10px
        padding-bottom: 0
        padding-left: 20px
        margin-bottom: 0px
        cursor: pointer
        single-transition( opacity )

        h5
          display: inline
          font-size: 14px
          color: #000
          padding-left: 10px
          font-weight: 500

      &:after
        display: block
        clear: both
        content: ''

    .content
      col(2/3, gutter: .1)
      box-shadow: 0 -1px 0 0 yellow, 0 1px 0 0 yellow, 1px 0 0 0 yellow, -1px 0 0 0 yellow
      padding-top: 50px
      height: 800px

      .search-section
        display: block
        height: 100px

        em
          col(1/9)
          shift(1/30)
          font-size: 12px
          text-align: right
          padding-top: 14px

        select
          col(3/10)
          shift(1/21)
          height: 42px
          font-family: $Gotham
          font-size: 13px
          border-radius: 0px
          box-shadow: inset 0 0 0 1px #ccc
          outline: none
          clearfix()
          background: white
          color: #666
        
        button
          col(2/9)
          shift(1/21)
          button()
          clearfix()
          border: none
          max-width: 120px
          height: 42px
          padding-top: 12px
          text-align: center
          background-color: $primary-color
          

      .tab
        display: none

      .tab.active
        display: block

      .project-listing
        max-width: 575px
        margin: auto
        padding-left: 25px
        border-top: 1px solid #ddd
        padding: 25px

        h4
          header4()
          letter-spacing: 0
          display: block
          padding-bottom: 15px

        em
          display: inline
          height: 25px
          font-size: 0.7em
          padding-right: 9px
          color: #FF5B1F
          font-weight: 500

        p
          paragraph()
          padding-top: 4px
          padding-bottom: 15px

        span
          col(1/5)
          margin-top: 15px
          color: #222
          font-weight: 500
          font-size: 0.6em
          text-align: center
          background-color: #ddd
          box-shadow: 0px 10px 0 0 #ddd, 0px 10px 0 0 #ddd, 0px -10px 0 0 #ddd, 0px 10px 0 0 #ddd
          border-radius: 1px