section.search-bar
  border-top: 62px solid transparent

  form
    width:800px
    margin:50px auto
    outline: none

  input
    width: 500px
    padding: 12px
    font-size: 20px
    outline: none

  .search
    padding:8px 15px
    background:rgba(50, 50, 50, 0.2)
    border:0px solid #dbdbdb

  .button
    position:relative
    padding:6px 15px
    left:-8px
    border:2px solid #207cca
    background-color:#207cca
    color:#fafafa

    &:hover
      background-color:#fafafa
      color:#207cca