- var levels = ["Novice", "Intermediate", "Expert"]

.profile-container
  .user-info
    .profile-picture
      .avatar
        img(src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png")
    article
      .span
        h2 Google
        h2(style="color: #00FF00") •
      a#open-skill(href="#")
        h5 Add Your Tagline
        img(height="11px", src="https://s3.amazonaws.com/igotmywork/user_profile/pencil.png")
      form#input-skill(href="#")
        input#edit-skill(type="text", name="skill", autofocus)
        img#close-skill(height="13px", src="https://s3.amazonaws.com/igotmywork/signup/close.png")
        img#save-skill(height="13px", src="https://s3.amazonaws.com/igotmywork/user_profile/check.png")
      
      a#open-location(href="#")
        h6 Add Your Location
        img(height="11px", src="https://s3.amazonaws.com/igotmywork/user_profile/pencil.png")
      form#input-location
        input#edit-location(type="text", name="location", autofocus)
        img#close-location(height="13px", src="https://s3.amazonaws.com/igotmywork/signup/close.png")
        img#save-location(height="13px", src="https://s3.amazonaws.com/igotmywork/user_profile/check.png")
    .feedback
      img(src="https://s3.amazonaws.com/igotmywork/95%25.png")
      h6 Positive Feedback
  .sidebar
    span.active
      a(href="#tab1")
        img(src="https://s3.amazonaws.com/igotmywork/user_profile/overview.png")
        h6 COMPANY PROFILE
    span
      a(href="#tab2")
        img(src="https://s3.amazonaws.com/igotmywork/user_profile/bio.png")
        h6 ABOUT
    span
      a(href="#tab3")
        img(src="https://s3.amazonaws.com/igotmywork/user_profile/technical.png")
        h6 TEAM
    span
      a(href="#tab4")
        img(src="https://s3.amazonaws.com/igotmywork/user_profile/mouse.png")
        h6 SETTINGS
  .user-profile