.profile-container
  border-top: 65px solid #111
  background-color: #eee
  height: auto
  padding-bottom: 100px
  z-index: 1

  .user-profile
    background-color: white
    border-top: 62px solid transparent
    position: relative
    z-index: 2
    max-width: 700px
    margin: 40px auto 0
    border-radius: 5px
    border: 1px solid #ddd

    h2
      padding-bottom: 40px
      padding-top: 40px
      margin-bottom: 40px
      text-align: center
      header3()
      border-bottom: 1px solid #ddd

    .hr
    	height: 1px
    	background-color: #ddd
    	margin-bottom: 38px

    .info-row
    	max-width: 600px
    	width: 100%
    	margin: auto
    	display: inline-block
    	padding-bottom: 40px
    	line-height: 20px
    	padding-left: 55px

    	em
    		span(1/4)
    		text-transform: uppercase
    		color: #333
    		font-size: 0.80em
    		font-weight: 500

    	p
    		span(3/5)
    		color: #555
    		paragraph()
    		text-transform: uppercase
    		letter-spacing: 0.2px

    	input
    		span(3/5)
    		border: none
    		outline: none
    		font-size: 0.9em
    		color: #555
    		text-decoration: italic

    	a
    		span(1/7)
    		text-decoration: none
    		color: $primary-color
    		text-align: right
    		cursor: pointer

	    img
	    	height: 155px
	    	width: auto

	    select
            span(3/5)
            height: 42px
            font-family: $Gotham
            font-size: 13px
            max-width: 100%
            margin-top: -10px
            border: 2px solid #ccc
            border-radius: 3px
            outline: none
            display: inline-block
            clearfix()
            background: white
            color: #ccc

	    button
	      button()
          height: 40px
          border-color: transparent
          float: right
          min-width: 200px
          border-color: Transparent 
	      border-radius: 3px
	      background: $primary-color
	      color: white 
	      display: block
	      font-family: $Gotham
	      font-weight: 400
	      cursor: pointer
	      font-size: 12px  
	      single-transition( background-color )

	      &:hover, &.active
	        background: #306eff
	        single-transition( background-color )

	.add-technology
		display: block
		margin: auto

		button
			width: 100%
			height: 50px
			border-top-left-radius: 0px
			border-top-right-radius: 0px
			border-bottom-right-radius: 2px
			border-bottom-left-radius: 2px
			border-top: 0px
			border-left: 1px
			border-right: 1px
			border-bottom: 1px
			border-color: #ddd
			font-size: 14px
			font-weight: 500
			background-color: #f9faff
			max-width: 100%
			cursor: pointer