#header-section
  background-image: url( 'https://s3.amazonaws.com/mycents/photos/centsdevshop/portfolio/CSG/csg_bg.png')
  background-size: auto 450px
  background-position: 0% -100%
  height: 450px
  max-width: 100%
  display: block
  margin: auto
  border-top: 62px solid #323232

  img
    display: block
    padding-top: 60px
    margin: auto
    padding-bottom: 40px

  h2
    font-family: $Gotham
    font-size: 1.7em