extends ../base

block style
  link(rel="stylesheet", href="dist/css/login.css")
  script( src="vendor/jquery-latest.min.js" )
  script( src="vendor/lightbox.js" )
  script( src="vendor/lightbox-user.js" )

block title
  title Signup
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../../templates/login/selection/main