extends ../base

block extendStyles
  link(rel="stylesheet", href="dist/css/login.css")
  script( src="vendor/signup/lightbox.js" )
  script( src="vendor/signup/lightbox-user.js" )
  //script( src="vendor/signup/confirm_request.js" )

block title
  title Signup
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../../templates/login/selection/main