extends ../base

block style
  link(rel="stylesheet", href="dist/css/login.css")

block title
  title Signup | Freelancer
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../../templates/login/user/main