section.calendar#december
  .header
    a.arrow#left(href="#")
      img(src="https://s3.amazonaws.com/igotmywork/projects/arrow-left.png")
    h2 July 2016
    a.arrow#right(href="#")
      img(src="https://s3.amazonaws.com/igotmywork/projects/arrow-right.png")