section.calendar#february
  .header
    a.arrow#left(href="#january")
      img(src="https://s3.amazonaws.com/igotmywork/projects/arrow-left.png")
    h2 February 2016
    a.arrow#right(href="#march")
      img(src="https://s3.amazonaws.com/igotmywork/projects/arrow-right.png")
  table
    tr
      td SUN
      td MON
      td TUE
      td WED
      td THU
      td FRI
      td SAT
    tr
      td
      td
      td 1
      td 2
      td 3
      td 4
      td 5
    tr
      td 6
      td.start 7
      td 8
      td 9
      td 10
      td 11
      td 12
    tr
      td 13
      td.today 14
      td 15
      td 16
      td 17
      td.due 18
      td 19
    tr
      td 20
      td 21
      td 22
      td 23
      td 24
      td 25
      td 26
    tr
      td 27
      td 28
      td 29
      td 30
      td 31
      td.future 1
      td.future 2