// Thin 100
@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-Thin.otf' )
  font-weight: 100

@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-ThinItalic.otf' )
  font-weight: 100
  font-style: italic

// ExtraLight 200
@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-XLight.otf' )
  font-weight: 200

@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-XLightItalic.otf' )
  font-weight: 200
  font-style: italic

// Light 300
@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-Light.otf' )
  font-weight: 300

@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-LightItalic.otf' )
  font-weight: 300
  font-style: italic

// Normal 400
@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-Book.otf' )
  font-weight: 400

@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-BookItalic.otf' )
  font-weight: 400
  font-style: italic

// Medium 500
@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-Medium.otf' )
  font-weight: 500

@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-MediumItalic.otf' )
  font-weight: 500
  font-style: italic

// Bold 700
@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-Bold.otf' )
  font-weight: 700

@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-BoldItalic.otf' )
  font-weight: 700
  font-style: italic

// Extra Bold 800
@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-Black.otf' )
  font-weight: 800

@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-BlackItalic.otf' )
  font-weight: 800
  font-style: italic

// Black 900
@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-Ultra.otf' )
  font-weight: 900

@font-face
  font-family: 'Gotham'
  src: url( '/assets/fonts/Gotham/Gotham-UltraItalic.otf' )
  font-weight: 900
  font-style: italic
