- var languages = ["Android","iOS","C#","C","C++",".NET","Java","Ruby","Python","Node.js","PHP","HTML/CSS","JavaScript","E-Commerce","WordPress & Drupal","OS X","Windows","Systems Infrastructure","Database Management"]

section.signup-header
  .container
    .project-listing
      h2 Create a Project
      form#payment-form(method="post", action="/projects")
        .error-message
        em Tell us about your project.
        input( name="title", type="text", placeholder="Project Title", autofocus )
        textarea( name="description", type="text", placeholder="Description" )
        em What skillset does the project require?
        //input( name="skills", type="text", placeholder="Separate by Commas")
        select(name="skills")
          option(value="",disabled, selected) Select Technology
          -each language in languages
            option(value="#{language}", label="#{language}")
        input( type="text", name="_gotcha", style="display:none")
        select( name="knowledgeLevel", type="text", placeholder="Skills", onKeyPress="return projectsave(this,event)")
          option( name="select-skill", type="text", disabled selected, style="opacity:0.2") Select Skill Level
          option( name="novice", type="text", value="$" ) Novice
          option( name="intermediate", type="text", value="$$" ) Intermediate
          option( name="expert", type="text", value="$$$" ) Expert
      .submit-button
        button#project-save Submit