section.about_body
  .header-container
    h2 ABOUT COMPANY
    p This is the India's Biggest Freelancer Portal www.igotmywork.com I would like to all well come here. If you didn't find any job, are you still searching a job, if you are a computer engineer or doing your BCA or MCA, www.igotmywork.com is the new rage. For those who have family constraints and cannot be away from home for work, this is the perfect opportunity. The number of work that can be found online is increasing in multifold; the variety is staggering and it has become quite an easy task to earn up to 500 $ on a monthly basis with only 3-5 hours of work daily. All you need to get the job done is to have a steady internet connection and a few hours at hand. www.igotmywork.com can be the absolutely best thing that has ever happened to you. Forget long hours at office with unsatisfactory salary.
  .orange-container(align='center')
    h2 Our Team
    .team-row
      .profile-pic.frank
        img( src='https://s3.amazonaws.com/igotmywork/about/chirag.png', alt='chirag')
      .bio
        h6.frank Chirag Patel
        em Founder
        p Rescission is the biggest crises in the I.T.world At this time I Planed, Which is Beneficial for I.T Company & Developer. I lunched Igotmywork Portal, Which motive is Providing Projects and Freelancer Developer, Who can Help You to Grow Your I.T Company and Personal Income
        a(href='https://plus.google.com/+Igotmywork/posts', target="_blank")
          img(style="height:22px;padding-right:20px;padding-top: 20px", src='https://s3.amazonaws.com/igotmywork/about/google%2B.png')
          small Google +
        a(href='https://www.facebook.com/igotmywork/', target="_blank")
          img(style="height:22px;padding-right:20px", src='https://s3.amazonaws.com/igotmywork/about/facebook.png')
          small Facebook
        a(href='https://twitter.com/igotmywork', target="_blank")
          img(style="height:22px;padding-right:0px", src='https://s3.amazonaws.com/igotmywork/about/twitter.png')
          small Twitter

      .profile-pic
        img( src='https://s3.amazonaws.com/igotmywork/about/bharti.png', alt='bharti')
      .bio
        h6.sterling Bharti Barolia
        em CEO
        p World is growing very Fast & the demand of Information Technology is very Popular. I believe in best deliverance in most economic way. We have something for every Generation & every type of People who are seeking to develope their career in freelancing. I am sure you can afford our Product and earn your Money & make your career through our product.
        a(href='https://plus.google.com/+Igotmywork/posts', target="_blank")
          img(style="height:22px;padding-right:20px;padding-top: 20px", src='https://s3.amazonaws.com/igotmywork/about/google%2B.png')
          small Google +
        a(href='https://www.facebook.com/igotmywork/', target="_blank")
          img(style="height:22px;padding-right:20px", src='https://s3.amazonaws.com/igotmywork/about/facebook.png')
          small Facebook
        a(href='https://twitter.com/igotmywork', target="_blank")
          img(style="height:22px;padding-right:0px", src='https://s3.amazonaws.com/igotmywork/about/twitter.png')
          small Twitter

      .profile-pic
        img( src='https://s3.amazonaws.com/igotmywork/about/vishal.png', alt='vishal')
      .bio
        h6.thomas Vishal Melwani
        em COO
        p We offer You Can entire I.T H.R. management Services Starting with Recruitment and moving throw the entire employee life cycle Our services optimize Your talent Management reduce cost and improve affiance i am not only respond You quickly but to do so accurately politely & with an obvious sense of pride our leadership is highly focused on the result that are important to me.
        a(href='https://plus.google.com/+Igotmywork/posts', target="_blank")
          img(style="height:22px;padding-right:20px;padding-top: 20px", src='https://s3.amazonaws.com/igotmywork/about/google%2B.png')
          small Google +
        a(href='https://www.facebook.com/igotmywork/', target="_blank")
          img(style="height:22px;padding-right:20px", src='https://s3.amazonaws.com/igotmywork/about/facebook.png')
          small Facebook
        a(href='https://twitter.com/igotmywork', target="_blank")
          img(style="height:22px;padding-right:0px", src='https://s3.amazonaws.com/igotmywork/about/twitter.png')
          small Twitter
      .profile-pic
        img( src='https://s3.amazonaws.com/igotmywork/about/harsh.jpg', alt='harsh')
      .bio
        h6 Harsh Patel
        em Technical Director
        p Whenever we plan to grow through Technology, First & major step is Technical Support. It is very hard task, so I thought to provide better Thecnical support in Portal. We are eager to work on your suggestions and improvise the portal more and more as there is always room for improvements.
        a(href='https://plus.google.com/+Igotmywork/posts', target="_blank")
          img(style="height:22px;padding-right:20px;padding-top: 20px", src='https://s3.amazonaws.com/igotmywork/about/google%2B.png')
          small Google +
        a(href='https://www.facebook.com/igotmywork/', target="_blank")
          img(style="height:22px;padding-right:20px", src='https://s3.amazonaws.com/igotmywork/about/facebook.png')
          small Facebook
        a(href='https://twitter.com/igotmywork', target="_blank")
          img(style="height:22px;padding-right:0px", src='https://s3.amazonaws.com/igotmywork/about/twitter.png')
          small Twitter
  //- .globe-container
  //- .text-container.two
  //-   h2 Company Profile
  //-   p
  //-     | This is the India's Biggest Freelancer Portal www.igotmywork.com I would like to all well come here. If you didn't find any job, are you still searching a job, if you are a computer engineer or doing your BCA or MCA, www.igotmywork.com is the new rage. For those who have family constraints and cannot be away from home for work, this is the perfect opportunity. The number of work that can be found online is increasing in multifold; the variety is staggering and it has become quite an easy task to earn up to 500 $ on a monthly basis with only 3-5 hours of work daily. All you need to get the job done is to have a steady internet connection and a few hours at hand. www.igotmywork.com can be the absolutely best thing that has ever happened to you. Forget long hours at office with unsatisfactory salary.
