section.signup-header
  padding: 0px 0px
  z-index: 1
  max-width: 100%
  margin: auto
  display: block
  overflow: hidden
  background: transparent

  .container
    max-width: 500px
    border-bottom: 2px solid rgba(0,0,0,0.1)
    border-top: 2px solid rgba(0,0,0,0.1)
    height: auto
    margin: auto
    overflow: visible
    background: #fff none no-repeat scroll center center
    padding: 40px
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3)

    .project-listing
      max-width: auto

      h2
        padding-bottom: 30px
        padding-top: 30px
        margin-bottom: 0px
        text-align: center
        header3()
        letter-spacing: -1px

      p
        paragraph()

      form
        width: 100%
        display: block
        max-width: 360px
        padding: 0px 20px
        margin: auto
        text-align: left
          
        select[name="skills"], select[name="knowledgeLevel"]
          height: 50px
          font-family: $Gotham
          font-size: 0.75em
          border: 2px solid #ddd
          border-radius: 3px
          margin: 20px 0
          outline: none
          width: 356px
          display: block

        em, .error-message
          display: block
          text-transform: uppercase
          font-family: $Gotham
          font-size: .75em
          margin-bottom: 10px
          margin-top: 20px
          font-weight: 500
          letter-spacing: 0.5px
          color: #222

        .error-message
          color: #ff0000;
          padding-bottom: 10px;

        textarea
          padding: 15px
          font-family: $Gotham
          font-size: 0.75em
          width: 320px
          height: 120px
          max-width: 100%
          border: 2px solid #ccc
          border-radius: 3px
          margin: 0px auto 15px
          display: block
          outline: none

        input[type="text"]
          padding: 15px
          font-family: $Gotham
          font-size: 0.75em
          width: 320px
          max-width: 100%
          border: 2px solid #ccc
          border-radius: 3px
          margin: 0px auto 15px
          display: block
          outline: none

        textarea, input[type="text"]
          &:focus
            outline: none
            border: 2px solid $primary-color

        .inline
          display: inline-block
          margin-top: 0px
          margin-right: 10px

          input[type="text"]
            width: 80px
        
        .hidden
          display: block

        input.error
          border-color: #ff0000

        .tagsBlock
          border: 2px solid #ccc
          border-radius: 3px
          display: table
          margin-bottom: 10px
          max-width: 325px
          padding: 15px
          width: 100%

          > span
            font-size: 0.65em

        #projectTags
          min-height: 25px

          li span:after
            content: "\00d7";

        #tagsList
          li span:after
            content: "";

        #tagsList li, #projectTags li
          font-size: 0.75em
          text-align: center
          background-color: red
          border-radius: 3px
          color: white
          cursor: pointer
          float: left
          list-style-type: none
          margin: 5px
          padding: 5px 6px 5px 8px

          span
            color: #000
            font-weight: bold

.submit-button
        display: block
        text-align: center
        max-width: 670px
        margin: auto

        a
          text-decoration: none

        button#request, button
          button()
          display: block
          margin: 30px auto 30px
          width: 160px
          letter-spacing: 0px
          padding-top: 13px
          font-weight: 400
          height: 44px
          font-size: 16px
          background-color: $primary-color

        img
          text-align: center
          display: block
          float: none !IMPORTANT
          margin: auto
          max-height: 10px
          max-width: 100%

#overlay
  lightbox()

#overlay + div
  margin-top:50px
  