.profile-container
  .sidebar
    span(1/4)
    background-color: $teal
    border-top: 25px solid #7eccc8
    padding-top: 10px
    height: 600px

    span
      background-color: #7eccc8
      padding-bottom: 0
      margin-bottom: 0px
      margin-left: 3px
  
    span.active
      
      a
        box-shadow: inset 5px 0 0px 0 #61ada9
        opacity: 1
        background: #7eccc8

    a
      display: block
      text-decoration: none
      height: 40px
      padding-top: 10px
      padding-bottom: 0
      margin-bottom: 0px
      cursor: pointer
      padding-left: 50px
      opacity: 0.7
      single-transition( opacity )
      
      &:hover, &:active
        single-transition( opacity )
        opacity: 1
        background-color: #7eccc8

      p
        font-size: 1.2em
        position: relative
        margin-left: -15px
        color: #00FF00
        display: inline
        padding-right: 5px

      h6
        paragraph()
        font-size: 0.7em
        display: inline
        color: white
        font-weight: 400

      img
        height: 20px
        display: inline
        top: 5px
        position: relative
        padding-right: 10px

    &:after
      display: block
      clear: both
      content: ''
 
  .user-profile
    span(3/4)
    box-shadow: 0 -1px 0 0 yellow, 0 1px 0 0 yellow, 1px 0 0 0 yellow
    padding-top: 62px
    height: 600px

    article
      width: 100%
      display: block

      .span
        padding-top: 6px
        padding-bottom: 3px

        h2
          header2()
          letter-spacing: -1px
          display: inline
          font-weight: 700

      a#open-phone
        display: block
        margin-bottom: 30px
        margin-left: 3px
        text-decoration: none
        visibility: visible
        
        img
          padding-left: 5px

      input[name="phone"], h5
        font-size: 1.1em
        font-weight: 300
        color: #666
        border: none
        cursor: pointer
        display: inline
      
      h5, h6
        visibility: visible

    .add-technology
      display: block
      margin: auto

    .tab
      display: none

      button
        button()
        font-size: 0.8em
        display: block
        background-color: $teal
        max-width: 150px
        max-height: 42px
        padding: 1px
        margin-left: 60px
        margin-top: 30px

      h4.tab-title, em
        padding-left: 60px
      
      em, a, p
        margin-bottom: 30px
        col(1/4)
        font-size: 0.8em
      
      p
        font-weight: 300
        color: #666
        border: none
        cursor: pointer
      
      a
        color: $primary-color
        cursor: pointer
        
      h4.tab-title
        header4()
        text-transform: uppercase
        margin-bottom: 45px
        font-weight: 500
        display: block
        clearfix()
      
    .tab.active
      display: block
          
    .hidden
      display: none

  textarea
    margin-left: 60px
    padding: 15px
    height: 150px
    width: 450px
    border: 2px solid #ddd
    border-radius: 1px
    font-size: 0.9em
    outline: none
    display: block
    
    &:focus
      border: 2px solid $teal
  
  a.create
    float: right
    position: relative
    margin-top: 30px
    text-decoration: none

    button
      button()
      background-color: #7eccc8
      border-bottom: 2px solid teal
      height: 44px
      font-weight: 500
      padding-top: 14px
      font-size: 12px
      text-transform: uppercase
      width: 180px
      
      &:hover
        background-color: $teal

      h4
        header5()
        font-weight: 700
        letter-spacing: 0
        display: block
        padding-bottom: 10px

      em
        display: inline
        height: 25px
        font-size: 0.7em
        padding-right: 9px
        color: #FF5B1F
        font-weight: 500

      p
        paragraph()
        padding-top: 5px
        padding-bottom: 10px
      
      span
        col(1/5)
        margin-top: 15px
        color: #222
        font-weight: 500
        font-size: 0.6em
        text-align: center
        background-color: #ddd
        box-shadow: 0px 10px 0 0 #ddd, 0px 10px 0 0 #ddd, 0px -10px 0 0 #ddd, 0px 10px 0 0 #ddd
        border-radius: 1px