.current-credit-cards
  li
    margin-bottom: 5px
    clearfix()

    .card-detail
      float: left
      width: 200px

    form
      float: left
      margin-right: 5px

.admin-form
  textarea
    min-height: 200px
    max-width: 100%
    min-width: 100%

.admin-page
  margin: 50px 0 0 15px
  form
    select
      width: 200px