global-reset()

@import "../../utilities/variables"
@import "../../utilities/font"
@import "../../utilities/colors"
@import "../../utilities/mixins"
@import "../../utilities/chat/chat"

body
  background-color: #F5F5F5
  font-family: $Gotham

@import "../general/top_nav/main"

@import './about'

@import "../general/footer/main"