.headline
  text-align: center

.tos-title
  header6( )
  text-align: center
  padding: 50px 20px
  text-transform: uppercase

.tos-text
  padding: 0 20px
  @media only screen and (min-width: 41em)
    padding: 0 20px
