section#clients
  background-color: $primary-color
  position: relative
  height: auto
  padding-top: 75px
  padding-bottom: 75px

  h2
    header4()

  .clients-table

    .tile
      stack()
      padding-bottom: 70px