.landing-header
  min-width: 0px
  width: 100%
  overflow: none
  height: 464px

.header-text
  position: absolute
  top: 70px
  display: block
  margin: auto
  z-index: 2
  width: 100%

  .quotes
    display: none

  h1
    header2()
    color: white
    display: block
    margin: 0 10px
    letter-spacing: -0.5px

  .hr
    max-width: 200px

  p
    header6()
    font-weight: 400
    color: white
    letter-spacing: 0
    max-width: 280px
    margin: auto

  .header-buttons
    margin-top: 20px

    button
      margin-top: 15px