.icon-panel
  margin: auto
  background-color: white
  padding-top: 75px
  padding-bottom: 25px

  .icon-row
    max-width: 1000px
    margin: 0 auto
    padding: 0px 20px
    clearfix()

    a.icon-tile
      stack()
      padding-bottom: 60px

      .hr
        background-color: #ddd
        height: 2px
        max-width: 58px
        margin: auto

      .text
        padding: 30px 15px 0
        text-align: center

        h5
          header5()

        em
          text-align: center