@import "./header"
@import "./clients"
@import "./tiles"
@import "../project_index/mobile/tiles"

.content
  position: relative

.top-nav
  .not-home
    display: none

  .home-only
    display: inline-block