.boxes
  height: auto

  p
    margin: auto 20px

  .tiles-container
    padding-top: 80px

    .tile
      stack()
      margin-bottom: 40px
      padding-bottom: 40px

      p
        margin-bottom: 0px