extends ../base

block style
  link(rel="stylesheet", href="dist/css/manager.css")

block title
  title Companies
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../../templates/manager/main2