extends ../base

block style
  link(rel="stylesheet", href="dist/css/managers.css")
  	
block title
  title Messages
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../../templates/managers/tab4