section#clients
  background-color: #edf3f9
  position: relative
  height: auto
  padding-top: 80px
  border-top: 3px solid #d9e6f4

  h2
    header2()
    text-align: center
    padding-bottom: 60px

  .clients-table
    padding: 35px 0 18px
    max-width: 960px
    margin: auto
    display: block
    text-align: center

    .tile
      stack()
      clearfix()
      padding-bottom: 80px

      img
        height: 62px

      .ganesh

        img
          height: 50px
          padding-bottom: 12px

      p
        padding-top: 10px
        text-align: center
        font-size: 14px