section.subscription-plans
  padding: 50px 0 0
  background: white
  border-top: none

  h2
    max-width: 960px
    header2()
    color: white
    margin: 0 auto
    padding-bottom: 20px
    text-align: center

  p
    paragraph()
    text-align: center
    padding-bottom: 40px
    margin: auto
    color: #222

  .plans
    width: 100%
    margin: 0 auto
    clearfix()

  .subscription
    stack()
    max-width: 80%
    margin: 30px auto
    height: 500px

    .sub-header
      display: block
      text-align: center

      h4
        text-align: center
        font-weight: 400
        color: white
      
    .description
      p
        text-align: center