section.signup-header.login
    .container
        .signup.user
            h2 Log In
            form(method="post")
                .error-message= error ? error.result : ''
                .visible
                    em
                    input( name="email", type="text", placeholder="Email", value= error ? error.email : '' )
                    em
                    input( name="password", type="password", placeholder="Password", value= error ? error.pass : '' )
                .submit-button
                    button GO