section.signup-header.login
    .container
        .signup.user
            h2 Log In
            form(method="post")
                .error-message
                .visible
                    em
                    input( name="email", type="text", placeholder="Email" )
                    em
                    input( name="pass", type="password", placeholder="Password" )
                .submit-button
                    button GO