section#clients
  h2 Our Clients
  .clients-table
    .tile
      img( src="https://s3.amazonaws.com/igotmywork/duniya.png" )
      p My Filmy Duniya
    .tile
      img( src="https://s3.amazonaws.com/igotmywork/sarvgyati.png" )
      p Sarvgyati
    .tile
      img( src="https://s3.amazonaws.com/igotmywork/onlineshopping.png" )
      p Online Clothe
    .tile
      img( src="https://s3.amazonaws.com/igotmywork/nigam.png")
      p Nigam Groups
    .tile
      .ganesh
        img( src="https://s3.amazonaws.com/igotmywork/ganesh.png")
      p Ganesh Enterprise