section.subscription-plans
  h2 Pricing Table
  p We respect your valuable time and money, so find a plan that suits your budget.
  .plans
    a(href="/login-user")
      .subscription.free
        .sub-header
          h4 Free
          em.rate $0
          em.year /per year
          p One Technology
          p One Random Project
          p Free Online Support
          p 24/7 support
          button.submit
            a(href="/login-user") Sign up
    a(href="/login-user")
      .subscription.student
        .sub-header
          h4 Student
          em.rate $149
          em.year /year
          p One Technology
          p One Project
          p Free Online Support
          p 24/7 support
          button.submit
            a(href="/login-user") Sign up
    a(href="/login-user")
      .subscription.paid
        .sub-header
          h4 Premium Freelancer
          em.rate $499
          em.year /5 year
          p Two Technologies
          p Unlimited Projects
          p Free Online Support
          p 24/7 support
          button.submit
            a(href="/login-user") Sign up
    a(href="/login-user")
      .subscription.company
        .sub-header
          h4 Company
          em.rate $999
          em.year /year
          p Unlimited Technology
          p Unlimited Projects
          p Free Online Support
          p 24/7 support
          button.submit
            a(href="/login-user") Sign up
