section.subscription-plans
  h2 Select Your Plan.
  .plans
    a(href="/login-user")
      .subscription.free
        h4 FREE
        .sub-header
          em.rate $0
          em.year per year
        .description
          p • One Technology
          p • Random Project
          p • Free Online Support
          p • 24/7 support
          button.submit
            a(href="/login-user") Sign up
    a(href="/login-user")
      .subscription.student
        h4 Free
        .sub-header
          em.rate $149
          em.year per year
        .description
          p • One Technology
          p • One Project
          p • Free Online Support
          p • 24/7 support
          button.submit
            a(href="/login-user") Sign up
    a(href="/login-user")
      .subscription.paid
        h4 Premium
        .sub-header
          em.rate $499
          em.year 5 years
        .description
          p • Two Technologies
          p • Unlimited Projects
          p • Free Online Support
          p • 24/7 support
          button.submit
            a(href="/login-user") Sign up
    a(href="/login-user")
      .subscription.company
        h4 Company
        .sub-header
          em.rate $999
          em.year per year
        .description
          p • Unlimited Technology
          p • Unlimited Projects
          p • Free Online Support
          p • 24/7 support
          button.submit
            a(href="/login-user") Sign up
