html
  .manager-panel
    .table-title
      img(style="height: 30px;background-color: #111;padding: 10px 20px;margin-bottom: 20px", src="https://s3.amazonaws.com/igotmywork/igotmywork_logo.png")
      h3 Sales Dashboard    
      h4 Active Targets
    .charts
      .chart
        h5 Enroll 80 Freelancers
        img(src="https://s3.amazonaws.com/igotmywork/manager/Group.png")
      .chart
        h5 Target Example 2
        img(src="https://s3.amazonaws.com/igotmywork/manager/Group.png")
      .chart
        h5 Target Example 3
        img(src="https://s3.amazonaws.com/igotmywork/manager/Group.png")
    .table-title
      h4 Data
    table.table-fill
      thead
        tr
          td.text-left.subhead Title
          td.text-left.subhead Number
          td.text-left.subhead Timeline
          td.text-left.subhead Status
      tbody.table-hover
        tr
          td.text-left Enroll 80 freelancers
          td.text-left 80
          td.text-left 30 days
          td.text-left Active
        tr
          td.text-left Ensure 25 projects are complete
          td.text-left 25
          td.text-left 7 days
          td.text-left Not Completed