html
  .manager-panel
    .table-title
      img(style="height: 30px;background-color: #111;padding: 10px 20px;margin-bottom: 20px", src="https://s3.amazonaws.com/igotmywork/igotmywork_logo.png")
      h3 Manager Dashboard
    table.table-fill
      thead
        tr
          th.text-left.active
            a(href='/manager-one') Freelancers
          th.text-left
            a(href='/manager-two') Companies
          th.text-left
            a(href='/manager-three') Projects
          th.text-left
            a(href='/manager-four') Requests
          th.text-left
            a(href='/manager-five') Messages
    table.table-fill
      thead
        tr
          td.text-left.subhead Full Name
          td.text-left.subhead Status
          td.text-left.subhead Token ID
          td.text-left.subhead Email
          td.text-left.subhead Projects Complete
      tbody.table-hover
        tr
          td.text-left Frank Taylor
          td.text-left Active
          td.text-left 39234FHSD3940112
          td.text-left fwtaylor@syr.edu
          td.text-left 4
        tr
          td.text-left Georgiy Dubrov
          td.text-left Active
          td.text-left ASFFADSFK39A9321
          td.text-left georgiy@vironit.com
          td.text-left 2