.manager-panel
  a(href="/manager-one") Freelancers
  a(href="/manager-two") Companies
  a(href="/manager-three") Requests
  a(href="/manager-four") Messages
  a(href="/manager-five") Projects

  .row-headings
    span Company Name
    span Contact Full Name
    span Token ID