html
  .manager-panel
    .table-title
      img(style="height: 30px;background-color: #111;padding: 10px 20px;margin-bottom: 20px", src="https://s3.amazonaws.com/igotmywork/igotmywork_logo.png")
      h3 Manager Dashboard
    table.table-fill
      thead
        tr
          th.text-left
            a(href='/manager-one') Freelancers
          th.text-left
            a(href='/manager-two') Companies
          th.text-left.active
            a(href='/manager-three') Projects
          th.text-left
            a(href='/manager-four') Requests
          th.text-left
            a(href='/manager-five') Messages
    table.table-fill
      thead
        tr
          td.text-left.subhead Project Title
          td.text-left.subhead Project Status
          td.text-left.subhead Freelancer
          td.text-left.subhead Company
          td.text-left.subhead Start Date
          td.text-left.subhead End Date
      tbody.table-hover
        tr
          td.text-left Migrate SQL Database
          td.text-left Active
          td.text-left Frank Taylor
          td.text-left Cents LLC
          td.text-left 01/02/2016
          td.text-left 02/02/2016
        tr
          td.text-left Create New iOS App
          td.text-left Inactive
          td.text-left Georgiy Dubrov
          td.text-left VironIT
          td.text-left 11/02/2015
          td.text-left 01/01/2016
