#header-section
  max-width: 100%
  margin: auto
  padding: auto
  position: relative
  border-top: 62px solid #323232

  .step-container
    background-image: url( 'https://s3.amazonaws.com/mycents/photos/centsdevshop/portfolio/saks/saks_header_bg.png')
    background-size: cover
    background-position: 50% 0%
    height: 700px
    max-width: 100%
    display: block
    margin: auto

    .step
      max-width: 1120px
      margin: auto
      padding-left: 20px
      padding-right: 80px

  .text-container
    height: auto
    margin: 0px auto 10px
    float: right
    color: #333
    max-width: 600px

    img
      display: block
      margin: 150px auto 45px

    h2
      font-family: $Gotham
      font-size: 2.6em
      font-weight: 500
      line-height: 1.2
      letter-spacing: 0px
      text-align: center

    hr
      max-width: 150px
      margin: 30px auto
      border-top: 3px solid #555

    p
      padding-left: 0px
      padding-right: 0px
      max-width: 390px
      color: #222
      margin: auto
      text-align: center
      paragraph()
      margin-bottom: 0px
      padding-bottom: 0px
      line-height: 1.5

  .image-container
    span(1/2)
    max-width: 100%
    height: auto
    float: right
    text-align: right
    opacity: 1
    margin: 0px auto 10px

    img
      display: block
      float: right
      width: 100%
      margin-top: 180px
      border-radius: 3px