section#clients
	background-color: #eee
	border-top: 2px solid #bbb
	position: relative
	height: 400px
	padding-top: 75px

	h2
		header2()
		letter-spacing: -2px
		text-align: center
		padding-top: 75px

	.clients-table
		padding: 0 0 18px
		max-width: 1040px
		margin: auto
		display: block
		text-align: center
  
	.signup-buttons
		text-align: center

		button
			button()
			background-color: #FF6363
			margin: 40px 20px 0
			display: inline

		.company
			background-color: #3F8CD8

			&:hover, &.active
				background-color: #3273b5
				single-transition( background-color )

		.engineer
			background-color: #FF5B1F

			&:hover, &.active
				background-color: #db5220
				single-transition( background-color )