section#clients
	background-color: $primary-color
	position: relative
	height: 370px
	padding-top: 75px

	h2
		header3()
		color: white
		text-align: center
		padding-bottom: 75px

	.clients-table
		padding: 0 0 18px
		max-width: 1040px
		margin: auto
		display: block
		text-align: center

		.tile
			col(1/4)
			clearfix()

			p
				header5()
				padding-top: 32px
				text-align: center
				color: white

			img
				height: 85px

			.ganesh

				img
					height: 50px
					padding-bottom: 12px