@import "./header"
@import "./icon_panel"
@import "./piecharts"
@import "./buckets"
@import "./clients"

.content
  position: relative

.top-nav
  .not-home
    display: none

  .home-only
    display: inline-block
