.boxes
	background-image: url('https://s3.amazonaws.com/igotmywork/chart-background.jpg')
	background-size: cover
	background-attachment: fixed
	padding: 0px
	height: 530px
	center()
	max-width: 100%

	h2
		header3()
		color: white
		text-transform: uppercase
		text-align: center
		margin-bottom: 20px
		padding-top: 75px

	p
		paragraph()
		color: white
		margin: auto
		text-align: center
		max-width: 490px

	.tiles-container
		padding: 75px 20px 0px
		max-width: 1000px
		margin-left: auto
		margin-right: auto
		margin-bottom: 50px

		.tile
			col(1/4)
			padding-bottom: 100px

			.icon
				max-width: 180px
				margin: auto
				height: auto
				text-align: center

				img
					center()
					width: 130px
					display: inline-block

			h6
				header5()
				text-align: center
				color: white
				padding: 15px 20px
				text-transform: uppercase
				max-width: 290px
				margin: auto
