.project-index

  .tiles-row

    &:nth-of-type(n+2)
      display: none

.view-all
  max-width: 100%
  background-color: white
  padding: 0px auto
  border-bottom: 80px solid white

  button
    button()
    background-color: $primary-color
    margin: 0px auto