.user-dashboard
  max-width: 1000px
  margin: auto
  padding: 100px 20px

  .user-info
    display: block
    margin-bottom: 50px
    height: auto

    img.avatar
      stack()
      height: auto
      border-radius: 100%

    article
      stack()

      h2
        header2()
        font-weight: 700
        margin-bottom: 3px
        margin-top: 6px

      h5
        header4()
        font-size: 1.2em
        font-weight: 300
        color: #666
        margin-bottom: 25px

      h6
        paragraph()
        font-weight: 700

    img.feedback
      stack()
      float: right
      text-align: center
      border-radius: 100%

  .dashboard-container
    display: block
    height: auto

    .sidebar
      stack()
      background-color: $primary-color
      border-top: 25px solid $teal
      padding-top: 50px
      height: auto

      span
        col(1/3)
        height: 80px
        padding-left: 0px
        text-align: center

        .select
          display: none
          height: 15px
          border-top: 3px solid yellow
          width: 15px
          background-color: yellow

        h6
          stack()
          font-size: 0.5em
          display: inline-block
          color: white
          font-weight: 400

        img
          stack()
          height: 10px
          display: none
          padding-right: 10px

    .content
      stack()
      box-shadow: 0 -1px 0 0 yellow, 0 1px 0 0 yellow, 1px 0 0 0 yellow, -1px 0 0 0 yellow
      padding-top: 70px
      height: auto

      h4
        header4()
        padding-left: 50px
        padding-right: 50px
        padding-bottom: 37px

      p
        paragraph()
        padding-left: 50px
        padding-right: 50px
        padding-bottom: 25px