.profile-container

  .user-profile
    border-radius: 0px

    img
      max-width: 94%
      margin: auto
      height: auto
      padding-bottom: 40px
      display: block

    .info-row
      max-width: 310px
      margin: auto
      display: inline-block
      padding-bottom: 30px
      line-height: 20px
      padding-left: 20px

      em
        stack()
        
      p
        paragraph()
        stack()
        font-size: 0.8em

      input
        span(3/5)
        border: none
        outline: none
        font-size: 0.9em
        color: #555
        text-decoration: italic

      a
        position: relative
        top: -18px
        display: inline
        float: right
        font-size: 0.9em
        text-align: right

      img
        width: 200px
        height: auto
        float: left
        display: block
        padding-top: 20px
        padding-bottom: 20px

      select
        margin-top: 5px

      button
        height: 40px
        border-color: transparent
        float: none
        min-width: 200px   