#steps-section
	max-width: 100%
	margin: auto
	padding: auto
	position: relative

	h2
		font-size: 1.8em
		line-height: 1.1
		padding-left: 20px
		padding-right: 20px
		padding-top: 60px

	h4
		padding: 0 20px

	.background-color.mobile
		display: block

	.background-color
		background-color: #F0F0F0
		width: 100%

		.center-pad
			background-size: 88%
			height: 340px
			-webkit-background-repeat: no-repeat
			-webkit-background-size: 91%
			-webkit-background-position: center

		.center-pad.two
			height: 400px

		.center-pad.three
			height: 400px

		.center-pad.four
			background-size: 370px auto
			height: 500px

		.center-pad.five
			background-size: auto 500px
			height: 500px

		.center-pad.six
			background-image: url('https://s3.amazonaws.com/mycents/photos/centsdevshop/portfolio/CSG/csg_ipad.png')
			display: block
			background-size: 91%
			height: 340px

	h3
		margin-top: 250px
		font-family: $Gotham
		font-size: 1em
		font-weight: 300
		margin-bottom: 20px
		width: 400px
		letter-spacing: 0.2px
		line-height: 45px
		stack()
		display: none

	p
		max-width: 300px
		paragraph()
		margin-bottom: 0px
		padding-bottom: 0px
		line-height: 1.5
		stack()
		color: #555
		display: none

	.image-container
		display: none

	.step-container
		center()
		background-color: white
		height: 500px
		display: block
		margin: auto
		overflow: hidden
		max-width: 100%
		display: none

		.step
			width: 1220px
			overflow: hidden
			margin: auto
			padding-left: 40px
			padding-right: 20px
			@media (max-width: 1023px)
				padding-top: 40px
				padding-bottom: 20px

	.step-container.right
		background-color: white
		position: relative
		max-width: 100%
		margin: auto
		height: 800px
		display: none

		.step
			width: 1220px
			overflow: hidden
			margin: auto
			padding-right: 20px
			padding-left: 0
