script(src="/vendor/login.js")

#signup-user
section.signup-header
    .container
        .signup.user
            h2 Freelancer
            form(method="post", action="/signup-user")
                .error-message
                .visible
                    em Create Account
                    input( name="name", type="text", placeholder="First and Last Name" )
                    input( name="email", type="text", placeholder="Email" )
                .hidden
                    input( name="pass", type="password", placeholder="Create Password" )
                    input( name="confirm", type="password", placeholder="Confirm Password" )
            .submit-button
                button GO