section.signup-header
    h1 GET STARTED
    .container
        .signup.user
            h2 Register as a Freelancer
            form(method="post")
                .error-message
                .visible
                    em Name
                    input( name="name", type="text", placeholder="First and Last Name" )
                    em Email
                    input( name="email", type="text", placeholder="Email" )
                .hidden
                    em Password
                    input( name="pass", type="password", placeholder="Create Password" )
                    em Confirm
                    input( name="confirm", type="password", placeholder="Confirm" )
                input( type="text", name="_gotcha", style="display:none")
    img(style="padding-top:30px;height:10px", src="https://s3.amazonaws.com/igotmywork/signup/dots_one.png")
    .submit-button
        button NEXT