section.about_body
  position: relative
  border-top: 62px solid #323232

  .text-container.two
    background-color: white

  .text-container
    background: center
    width: 100%
    z-index: 1
    padding: 60px 0px
    overflow: hidden
    background linear-gradient(top, #f8f1d8, #ffffff)
    @media (max-width: 500px)
      padding: 160px 0px 180px

    h2
      header2()
      line-height: 1.3
      margin: 0 auto
      max-width: 940px
      text-align: center
      font-family: $Gotham
      font-weight: 500

    p
      paragraph()
      font-weight: 300
      line-height: 30px
      max-width: 940px
      margin: auto
      z-index: 1
      padding: 20px 12px
      text-align: left
      @media (max-width: 500px)
        paragraph()

  .header-container
    background: center
    width: 100%
    z-index: 1
    background-color: #222
    height: 500px
    background-image: url("https://s3.amazonaws.com/igotmywork/about/about_bg.png")
    background-repeat: no-repeat
    background-size: cover
    padding-top: 150px
    overflow: hidden
    color: white
    @media (max-width: 500px)
      padding: 160px 0px 180px

    h2
      display: block
      font-size: 3.5em
      letter-spacing: 1.5px
      line-height: 1.3
      margin: 0 auto
      text-align: center
      text-transform: uppercase
      font-family: $Gotham
      font-weight: 500

    p
      paragraph()
      font-size: 0.9em
      font-weight: 300
      line-height: 2
      max-width: 800px
      margin: auto
      z-index: 1
      padding: 20px 12px
      text-align: center
      @media (max-width: 500px)
        paragraph()

  .globe-container
    background: center
    width: 100%
    z-index: 1
    background-color: #222
    height: 100px
    background-image: url("https://s3.amazonaws.com/igotmywork/about/about_middle.png")
    background-repeat: no-repeat
    background-size: cover
    opacity: 0.7
    border-top: 10px solid white
    border-bottom: 10px solid white
    overflow: hidden
    @media (max-width: 500px)
      padding: 160px 0px 180px

    h2
      font-family: $Gotham
      line-height: 43px
      font-size: 3.3em
      color: white
      margin-bottom: 25px
      text-align: center
      font-weight: 500
      letter-spacing: 1px
      @media (min-width: 500px)
        font-size: 3.1em
        letter-spacing: 1.5px

    p
      paragraph()
      font-weight: 300
      line-height: 30px
      max-width: 940px
      color: white
      margin: auto
      z-index: 1
      padding: 0px 12px
      text-align: left
      @media (max-width: 500px)
        paragraph()

  .orange-container
    z-index: 4
    position: relative
    max-height: auto
    padding-top: 60px
    @media (min-width: 500px)
      padding-bottom: 30px
      height: auto
      padding-right: 50px
      padding-left: 50px
    @media (max-width: 770px)
      height: 3380px
      max-width: 100%

    h2
      header2()
      line-height: 1.3
      margin: 0 auto 100px
      max-width: 700px
      text-align: center
      font-family: $Gotham
      font-weight: 500
      letter-spacing: 0.5px

  .team-row
    z-index: 3
    height: 1400px
    max-height: 100%
    max-width: 100%
    margin: auto
    width: 100%
    padding: 0px
    width: 820px

    .profile-pic
      img
        margin: auto
        display: table-cell
        vertical-align: middle
        width: auto
        @media (min-width: 770px)
          col(1/3)
          height: 220px
          width: auto

    .bio
      height: auto
      paragraph()
      color: white
      text-align: left
      float: right
      margin-top: 0px
      display: inline-block
      padding: 30px 20px 50px
      @media (min-width: 770px)
        max-width: 470px
        col(2/3)
        shift(1/18)
        text-align: left
        height: 260px
        margin-top: 0px
        padding-left: 10px
        padding-right: 0px
      @media (min-width: 1025px)
        max-width: 850px

      a
        text-decoration: none
        color: #222
        display: table-cell

        small
          padding-right: 30px
          font-size: 10px
          display: none

        img
          padding-top: 20px

      h6
        font-size: 23px
        font-family: $Gotham
        font-weight: 500
        color: #222
        text-transform: uppercase
        margin-top: -20px
        @media (max-width: 770px)
          text-align: center
          position: relative
          top: -78px

      em
        font-size: 21px
        font-family: $Gotham
        font-weight: 300
        color: #222
        padding-bottom: 12px
        @media(max-width: 770px)
          font-size: 19px
          position: relative
          top: 30px
          padding-bottom: 24px
          display: block

      p
        padding-top: 15px
        color: #222

      .sterling
        @media (max-width: 769px)
          top: -60px
          margin-bottom: -10px

      .frank
        @media (max-width: 769px)
          top: -80px
          margin-bottom: -30px

      .thomas
        @media (max-width: 769px)
          margin-bottom: 20px