section.selection
  .select
    h2 Find what you need today.
    .half
      img(src="https://s3.amazonaws.com/igotmywork/signup/company.png")
      h5 We're a company
      p Find quality freelance engineers to do any job, big or small
      a#open(href="#")
        button Post Projects
      a.mobile(href="/signup-company")
        button Post Projects
    .half.right
      img(src="https://s3.amazonaws.com/igotmywork/signup/engineer.png")
      h5 I'm an Engineer
      p Apply for jobs that want to do. All from the comfort of home.
      a#open-user(href="#")
        button Find Projects
      a.mobile(href="/signup-user")
        button Find Projects

#overlay
#info
  img#close(src="https://s3.amazonaws.com/igotmywork/signup/close.png")
  include ../company/main

#overlay-user
#info-user
  img#close-user(src="https://s3.amazonaws.com/igotmywork/signup/close.png")
  include ../user/main