.background
.menu-icon
  include ./hamburger_icon
.top-nav-container
  a.logo( href="/" )
    img( src="https://s3.amazonaws.com/igotmywork/igotmywork_logo.png")

  .mobile-logo
    a( href="/" )
      img( src="https://s3.amazonaws.com/igotmywork/igotmywork_logo.png")

  .nav-links
    .background
    a.home.nav-link( href="/" )
      .text HOME
        .underline

    a.nav-link( href="/about" )
      .text ABOUT
        .underline

    a.nav-link( href="/pricing" )
      .text PRICING
        .underline

    if !logged
      a.nav-link( href="/how-it-works" )
        .text HOW IT WORKS
          .underline
      a.nav-link( href="/login" )
        .text LOGIN
          .underline
      a.nav-link.square-border( href="/get-started" )
        .button.two
          .background-button
          .text SIGN UP
    else
      a.nav-link( href="/projects" )
        .text PROJECTS
          .underline
      a.nav-link( href="/profile" )
        .text PROFILE
          .underline
      a.nav-link( href="/logout" )
        .text LOGOUT
          .underline