extends ./base

block style
  link(rel="stylesheet", href="dist/css/about.css")

block title
  title About
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../templates/about/main
