doctype html
html
  head
    include ../templates/general/fonts

    block style
      meta( name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0" )
      script( src="/node_modules/underscore/underscore-min.js" )
      script(data-main="dist/main", src='vendor/require.min.js')
      link(href='https://fonts.googleapis.com/css?family=Lato:400', rel='stylesheet', type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Open+Sans:400', rel='stylesheet', type='text/css')

    block scripts
    script( src="/vendor/jquery-latest.min.js" )

    block extendStyles

    block title
      title IGotMyWork
      meta( name="description", content="India's Biggest Freelance Portal" )

  body
    main.content
      block content