doctype html
html
  head
    include ../templates/general/fonts

    block style
      meta( name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0" )
      link(href='/dist/css/chat.css', rel='stylesheet', type='text/css')
      link(href='/dist/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Lato:400', rel='stylesheet', type='text/css')
      link(href='https://fonts.googleapis.com/css?family=Open+Sans:400', rel='stylesheet', type='text/css')
      link(href='/vendor/scrollbar/simplebar.css', rel='stylesheet', type='text/css')

    block scripts
      script( src="/vendor/jquery.min.js" )
      script( src="/node_modules/underscore/underscore-min.js" )
      //script(data-main="dist/main", src='vendor/require.min.js')
      -if (logged)
        script( src='/vendor/scrollbar/simplebar.js')
        script( src="/vendor/api/chat.js" )
        script( src="/vendor/clientChat.js" )

    block extendStyles

    block extendScripts

    block title
      title IGotMyWork
      meta( name="description", content="India's Biggest Freelance Portal" )

  body
    main.content
      block content