extends ./base

block style
  link(rel="stylesheet", href="dist/css/company_profile.css")

block extendScripts
  script(src="/vendor/account/dataChange.js")
  script(src="/vendor/account/photo-upload.js")
  script(src="/vendor/account/tabs.js")
  script(src="/vendor/lightbox/lightbox.js")
  script(src="/vendor/enter-to-submit.js")

block title
  title Company
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../templates/company_profile/main
