extends ./base

block style
  link(rel="stylesheet", href="dist/css/contact.css")

block title
  title Contact
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../templates/contact/main
