extends ./base

block style
  link(rel="stylesheet", href="dist/css/how-it-works.css")

block title
  title How It Works
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../templates/how_it_works/main