extends ./base

block style
  link(rel="stylesheet", href="dist/css/pricing.css")

block title
  title Pricing
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../templates/pricing/main