extends ./base

block style
  link(rel="stylesheet", href="dist/css/project_index.css")

block title
  title Listing
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../templates/project_listing/main
