extends ./base

block style
  link(rel="stylesheet", href="dist/css/project_index.css")
  script( src="vendor/jquery-latest.min.js" )
  script( src="vendor/projects/lightbox.js" )
  script( src="vendor/projects/load_request.js" )

block title
  title Projects
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../templates/project_index/main
