extends ./base

block extendStyles
  link(rel="stylesheet", href="../dist/css/project_dashboard.css")

block extendScripts
  script(src="/vendor/project_dashboard/mark.js")

block title
  title Dashboard
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../templates/project_dashboard/main
