extends ./base

block style
  link(rel="stylesheet", href="dist/css/project_dashboard.css")
  script( src="vendor/jquery-latest.min.js" )
  script(src="vendor/photo-upload.js")
  script(src="vendor/project_dashboard/mark.js")
  script(src="vendor/project_dashboard/tabs.js")

block title
  title Dashboard
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../templates/project_dashboard/main
