extends ./base

block style
  link(rel="stylesheet", href="/dist/css/user_profile.css")
  script( src="vendor/jquery-latest.min.js" )
  script( src="vendor/tabs.js" ) 

block title
  title Profile
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../templates/user_profile/main
