extends ./base

block style
  link(rel="stylesheet", href="/dist/css/user_profile.css")

block extendScripts
  //script(src="vendor/account/input-skill.js")
  //script(src="vendor/account/save-skill.js")
  //script(src="vendor/account/edit-skill.js")
  //script(src="vendor/account/input-location.js")
  script(src="vendor/account/save-location.js")
  //script(src="vendor/account/edit-location.js")
  script(src="vendor/account/tabs.js")
  script(src="vendor/account/photo-upload.js")

block title
  title Profile
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../templates/user_profile/main
