extends ./base

block style
  link(rel="stylesheet", href="dist/css/user_profile.css")

block title
  title Profile
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../templates/user_profile/main
