extends ./base

block style
  link(rel="stylesheet", href="/dist/css/user_profile.css")

block extendScripts
  script(src="/vendor/account/dataChange.js")
  script(src="/vendor/account/tabs.js")
  script(src="/vendor/account/photo-upload.js")

block title
  title Profile
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../templates/user_profile/main
