.top-nav
  position: fixed
  background-color: #323232
  top: 0
  left: 0
  right: 0
  display: block
  width: 100%
  min-width: 960px
  margin: auto
  text-align: center
  height: 62px
  z-index: 20
  clearfix()
  @media (max-width: 769px)
    min-width: 768px

  .mobile-logo
    display: none

  .hamburger-icon
    display: none

  .background
    background-color: #323232
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    single-transition( opacity )

  &.opacit .background
    display: none

  .top-nav-container
    position: absolute
    left: 4%
    right: 4%
    height: 100%

  .logo img
    position: absolute
    display: block
    top: 16px
    left: 0
    z-index: 2
    height: 31px
    width: auto

  .nav-links
    float: right
    clearfix()

  .nav-link
    position: relative
    font-size: 11px
    font-family: $Gotham
    font-weight: 300
    display: block
    float: left
    text-decoration: none
    color: #F9F9FA
    padding: 19px 25px 17px 15px
    margin: 0 10px
    letter-spacing: 0.5px

    &.home
      display: none

    .text
      padding: 7px 2px
      display: block
      position: relative

    .underline
      height: 2px
      position: absolute
      width: 98%
      left: 0
      bottom: 0
      background-color: white
      opacity: 0
      single-transition( opacity )

    &:hover
      cursor: pointer
      .underline
        opacity: .6
        single-transition( opacity )

    &.square-border
      padding: 16px 15px 30px 10px
      font-size: 11px
      
      .button
        padding: 0
        width: 110px
        height: 30px
        letter-spacing: 1px
        line-height: 32px
        text-align: center
        border-radius: 3px
        position: relative
      
      .two
        background-color: $primary-color

      .text
        position: absolute
        display: block
        width: 100%
        text-align: center
        padding: 0
        top: 0px
        line-height: 30px

    .background-button
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      background-color: $primary-color
      border-radius: 3px
      opacity: 0
      single-transition( opacity )

  .mobile
    display: none

// Selectors below target homepage

.top-nav
  .not-home
    display: inline-block

  .home-only
    display: none
