@import 'font_import/gotham'

$ProxiNova = 'proxima-nova', Roboto, Arial, sans-serif
$IdealSans = 'Open Sans', 'Helvetica Neue', Roboto, Arial, sans-serif
$Gotham = 'Gotham', Helvetica, sans-serif

$DefaultFont = $Gotham
$HeaderFont = $Gotham
$SubHeaderFont = $Gotham
$ParagraphFont = $Gotham

paragraph()
  font-family: $Gotham
  font-size: 0.8em
  font-weight: 400
  line-height: 1.4
  color: #333

header1()
  font-family: $HeaderFont
  font-weight: 600
  font-size: 3.2em
  letter-spacing: 1.5px
  line-height: 1.1

header2()
  font-family: $HeaderFont
  font-weight: 800
  font-size: 2.5em

header3()
  font-family: $HeaderFont
  font-weight: 600
  letter-spacing: 1px
  line-height: 1.2
  font-size: 1.8em

header4()
  font-family: $HeaderFont
  font-weight: 600
  font-size: 1.5em

header5()
  font-family: $HeaderFont
  font-weight: 300
  font-size: 1.2em

header6()
  font-family: $HeaderFont
  font-weight: 300
  font-size: 0.95em
  line-height: 1.3
