@import 'font_import/gotham'

$Gotham = 'proxima-nova', Roboto, Arial, sans-serif
$IdealSans = 'Open Sans', 'Helvetica Neue', Roboto, Arial, sans-serif
$Tall = "Gotham SSm", Helvetica, sans-serif

$DefaultFont = $ProxiNova
$HeaderFont = $Gotham
$SubHeaderFont = $ProxiNova
$ParagraphFont = 'Open Sans', 'Helvetica Neue', Roboto, Arial, sans-serif

paragraph()
  font-family: $ParagraphFont
  font-size: 1em
  font-weight: normal
  line-height: 1.5

header1()
  font-family: $Tall
  font-weight: 800
  font-size: 3.5em
  letter-spacing: 1.5px
  line-height: 1.1

header2()
  font-family: $Gotham
  font-weight: 800
  font-size: 2.5em

header3()
  font-family: $Gotham
  font-weight: 400
  line-height: 1.2
  font-size: 2em

header4()
  font-family: $Gotham
  font-weight: 600
  font-size: 1.5em

header5()
  font-family: $Gotham
  font-weight: 700
  font-size: 1em