button()
  font-family: $Gotham
  font-weight: 300
  letter-spacing: 0.5px
  font-size: 14px
  color: white
  padding: 1.1em 1.2em 1.14em
  border: none
  border-radius: 5px
  display: block
  width: 200px
  height: 50px
  cursor: pointer
  outline: none
  single-transition( background-color )

  &:hover, &.active
    outline: none
    background-color: #3273b5
    single-transition( background-color )

  a
    color: white
    text-decoration: none

single-transition( $property )
  transition: $property 300ms ease-out

slidePage( )
  position: absolute
  top: 0
  left: 0%
  width: 100%
  height: 100%
  overflow: hidden

  single-transition( left )

  &.off-left
    left: -100%
    single-transition( left )

  &.off-right
    left: 100%
    single-transition( left )

  &.focused-slide
    position: relative
    height: 100%
    overflow: hidden

layoutBackgroundColor( )
  background-color: #FBF7F4
  
lightbox( )
  opacity: 0
  background-color: #fff
  position: absolute
  top: 0px
  left: 0px
  z-index: 50
  padding-top: 0px
  width: 100%
  height: 100%
  visibility: hidden

#overlay + div
  opacity: 0
  top: 0
  margin: -100px auto 0
  padding: 0px 20px
  width:900px
  height: auto
  background: transparent
  z-index: 51
  position: absolute
  visibility: hidden

  img#close
    float: right
    position: absolute
    cursor: pointer
    top: -50px
    right: 0px
    height: 50px
  