.user-dashboard
  .user-info
    img.avatar(src="https://s3.amazonaws.com/igotmywork/about/chirag.png")
    article
      .span
        h2 Chirag Patel
        h2(style="color: #00FF00") •
      h5 Freelancer, Web | Perl, PHP, Java
      h6 Brooklyn, New York, USA
    .feedback
      img(src="https://s3.amazonaws.com/igotmywork/95%25.png")
      h6 Positive Feedback

  .dashboard-container
    .sidebar
      span.active
        a(href="#tab1")
          img(src="https://s3.amazonaws.com/igotmywork/user_profile/overview.png")
          h6 OVERVIEW
      span
        a(href="#tab2")
          img(src="https://s3.amazonaws.com/igotmywork/user_profile/technical.png")
          h6 BIO
      span
        a(href="#tab3")
          img(src="https://s3.amazonaws.com/igotmywork/user_profile/technical.png")
          h6 TECH SKILLS
      span
        a(href="#tab4")
          img(src="https://s3.amazonaws.com/igotmywork/user_profile/mouse.png")
          h6 WORK HISTORY
      span
        a(href="#tab5")
          img(src="https://s3.amazonaws.com/igotmywork/user_profile/ribbon.png")
          h6 ACHIEVEMENTS
      span
        a(href="#tab6")
          img(src="https://s3.amazonaws.com/igotmywork/user_profile/feedback.png")
          h6 FEEDBACK
    .content
      #tab1.tab.active
        h4 OVERVIEW
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi commodo varius ipsum, vel tempus nibh congue id. In euismod fringilla velit vitae dignissim. Nam vitae felis ultricies, ultricies odio ac, cursus lorem. Proin posuere libero tortor, feugiat rutrum felis porta in. Sed in mauris lectus.
        p Integer accumsan mi non bibendum rutrum. Nam consequat velit nec ultricies hendrerit. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum dictum augue sit amet mollis accumsan. Suspendisse rhoncus ac ante non tempor. Vivamus ut eleifend mi, non consequat quam. Aliquam porta, mauris sed scelerisque rutrum.
        p Cras vehicula, nunc sed malesuada tincidunt, mauris neque sollicitudin leo, nec mollis metus augue vel ex. Pellentesque luctus suscipit velit, ac consequat quam varius at. Suspendisse urna mauris, tempor a suscipit eget, aliquam sit amet ex.
        p What I'm best at:
        p • General technical consulting
        p • Web security
        p • WordPress development
      #tab2.tab
        h4 BIO
      #tab3.tab
        h4 TEAM SKILLS
      #tab4.tab
        h4 WORK HISTORY
      #tab5.tab
        h4 ACHIEVEMENTS
      #tab6.tab
        h4 FEEDBACK