#chat
    .header
        #allChatMarks
            span#allUnreadMark 0
            span#allInitialChats 0
        .title Chat
        .actions
            .minimaze
            .exit
                i.fa.fa-times
    .body.chat(style="display: none")
        .target.bottomLine
            .avatar
                img(width=45, hight=45, src="http://findicons.com/files/icons/1072/face_avatars/300/a05.png")
            .infoBlock
                .label Chat with
                .name test name
        .content.bottomLine
            .messages(data-simplebar-direction="vertical")
        .sendBlock
            textarea(placeholder="Type your message")
            div send
    .body.contacts.active
        .content
            .contactList(data-simplebar-direction="vertical")
    .tabs
        .chat Chat
        .contacts.active Contacts