section.signup-header
  padding: 0px 0px
  z-index: 1
  max-width: 100%
  margin: auto
  text-align: center
  display: block
  overflow: hidden
  background: transparent

  h1
    header1()
    text-align: center
    text-transform: uppercase
    letter-spacing: 0
    padding-bottom: 18px

  .container
    max-width: 1500px
    margin: auto
    overflow: hidden

    .company, .user, .manager
      max-width: 670px
      margin: 40px auto 10px
      box-shadow: 0 4px 16px #999

    .signup
      background-color: white
      border-top: 62px solid transparent
      position: relative
      border-radius: 5px
      border: 2px solid #ddd

      h2
        padding-bottom: 40px
        padding-top: 40px
        margin-bottom: 40px
        text-align: center
        header3()
        font-weight: 500
        border-bottom: 2px solid #ddd

      p
        paragraph()

      form
        width: 100%
        display: block
        max-width: 600px
        padding: 0px 20px 15px
        margin: auto
        text-align: left

        select[name="expertise"]
          height: 53px
          font-family: $Gotham
          font-size: 16px
          border: 2px solid #ccc
          border-radius: 3px
          margin: 10px 0 30px
          outline: none
          width: 600px
          display: block

        em, .error-message
          display: block
          text-transform: uppercase
          font-family: $Gotham
          font-size: .9em
          font-weight: 500
          padding-left: 35px
          letter-spacing: 0.5px
          color: #222

        .error-message
          color: #ff0000;
          padding-bottom: 10px;

        input[type="text"], input[type="password"]
          padding: 15px
          font-family: $Gotham
          font-size: 16px
          width: 500px
          max-width: 100%
          border: 2px solid #ccc
          border-radius: 3px
          margin: 10px auto 30px
          display: block
          outline: none

          &:hover, &:focus
            outline: none
            border: 2px solid $primary-color

        .inline
          display: inline-block

          input[type="text"]
            width: 80px

        input.error
          border-color: #ff0000;

        .hidden
          display: none;

      .submit-button
        display: block
        text-align: center
        max-width: 670px
        margin: auto

        button
          button()
          display: block
          margin: 30px auto
          width: 160px
          letter-spacing: 0px
          padding-top: 13px
          font-weight: 400
          height: 44px
          font-size: 16px
          background-color: $primary-color

        img
          text-align: center
          display: block
          float: none !IMPORTANT
          margin: auto
          max-height: 10px
          max-width: 100%