section.signup-header.login
  background-image: url( 'https://s3.amazonaws.com/igotmywork/login_bg.jpg' )
  margin-top: 62px
  background-size: 100%
  min-height: 600px
  padding-top: 100px
  background-repeat: no-repeat