section.selection
  border-top: 62px solid transparent
  max-width: 880px
  margin: 120px auto
  min-height: 750px

  h2
    header2()
    center()
    font-weight: 700
    margin: auto auto 80px
    max-width: 100%
    z-index: 1
    text-align: center
    color: #323232
    line-height: 1
    letter-spacing: -2px

  .half
    col(1/2)
    text-align: center
    height: 420px

    img
      padding-top: 60px
      height: 60px
      opacity: 0.5
      margin-bottom: 30px

    h5
      header4()
      font-weight: 500
      color: #333
      text-transform: uppercase
      margin-bottom: 30px

    p
      header6()
      font-weight: 300
      line-height: 1.4
      max-width: 290px
      margin: auto
      margin-bottom: 60px

    a
      text-decoration: none
      color: white

      button
        button()
        height: 48px
        width: 200px
        font-size: 14px
        letter-spacing: 0.5px
        font-weight: 400
        background: $primary-color
        text-transform: uppercase
        display: block
        max-width: 100%
        margin: auto

  .right
    box-shadow: -1px 0 0px 0 #90DCD9

    a
      button
        background: $orange-color

        &:hover
          background: #db5220

  .mobile
    display: none

#overlay, #overlay-user
  lightbox()
  position: fixed
  
#overlay + div
  margin-top: 0px

#overlay + div img#close
  top: 0

#info, #info-user
  margin: -330px auto 0
  width:920px
  height: 500px
  background-image: none
  background-repeat: no-repeat
  background-position: center
  background-size: cover

#info-user
  position: absolute
  margin: -325px auto 0
  opacity: 0
  top: 0
  padding: 0px 20px
  background: transparent
  z-index: 51
  position: absolute
  visibility: hidden
  background-image: none
  background-repeat: no-repeat
  background-position: center
  background-size: cover

  img
    float: right
    position: absolute
    cursor: pointer
    top: -50px
    right: 0px
    height: 50px
