.dashboard-container
  .dashboard
    h2 Update SQL Database
    section.participants
      .titles
        em.left 
          | Company
        em.right
          | Freelancer
      .company
        .logo 
      .freelancer
        .avatar
        .name
          p ARVIND SWAMY
          small Java Engineer
    section.status
      em Status
      p.stage#complete &nbsp;
        small Waiting
      p.stage#complete &nbsp;
        small Running
      p.stage#active &nbsp;
        small Testing
      p.stage#inactive &nbsp;
        small Complete
      p.stage#inactive &nbsp;
        small Delivered
    .key
      .dot.start
        p Start
      .dot.today
        p Today
      .dot.due
        p Due
    include ./calendar/main
    section.files-row
      .left
        em Files
        a mpasve02.sql
        small 10/22/2015
      .right
        .uploadimgbtn(onclick="getFile()") Upload
        article(style='height: 0px;width: 0px; overflow:hidden')
          input(id="upfile", type="file", value="upload", onchange="sub(this)", accept="image/*", class="upload-image")
    .dashboard-buttons
      button.cancel
        a(href="#") Cancel Project
      button.deliver
        a(href="#" ) Deliver Project

  #alert
    p Request Submitted
