.dashboard-container
  .dashboard
    - if(projectTitle)
      h2= projectTitle.attributes.title
    section.participants
      .titles
        em.left
          | Company
        em.right
          | Freelancer
      .company
        - if(projectCompany)
          img.logo( src= projectCompany.attributes.logo, style="visibility: visible;")
      .freelancer
        - if(projectDeveloper)
          img.avatar( src= projectDeveloper.attributes.avatar, style="visibility: visible;")
          .name
            p= projectDeveloper.attributes.fullName
            small= projectDeveloper.attributes.skill
    section.status
      em Status
      - if(projectTitle)
        p.stage#waiting(  class= projectTitle.attributes.statusWaiting) &nbsp;
          small Waiting
        p.stage#running(  class= projectTitle.attributes.statusRunning) &nbsp;
          small Running
        p.stage#testing(class= projectTitle.attributes.statusTesting) &nbsp;
          small Testing
        p.stage#complete(  class= projectTitle.attributes.statusComplete) &nbsp;
          small Complete
        p.stage#delivered(  class= projectTitle.attributes.statusDelivered) &nbsp;
          small Delivered
    .key
      .dot.start
        p Start
      .dot.today
        p Today
      .dot.due
        p Due
    .calendar
      .header
        .arrow-left o
        h2 July 2013
        .arrow-right o
      table
        tr
          td SUN
          td MON
          td TUE
          td WED
          td THU
          td FRI
          td SAT
        tr
          td
          td
          td 1
          td 2
          td 3
          td 4
          td 5
        tr
          td 6
          td.start 7
          td 8
          td 9
          td 10
          td 11
          td 12
        tr
          td 13
          td.today 14
          td 15
          td 16
          td 17
          td.due 18
          td 19
        tr
          td 20
          td 21
          td 22
          td 23
          td 24
          td 25
          td 26
        tr
          td 27
          td 28
          td 29
          td 30
          td 31
          td.future 1
          td.future 2
    section.files-row
      .left
        em Files
        a mpasve02.sql
        small 10/22/2015
      .right
        .uploadimgbtn(onclick="getFile()") Upload
        article(style='height: 0px;width: 0px; overflow:hidden')
          input(id="upfile", type="file", value="upload", onchange="sub(this)", accept="image/*", class="upload-image")
    .dashboard-buttons
      button.cancel
        a(href="") Cancel Project
      button.deliver
        a(href="" ) Deliver Project
  #alert
    p Request Submitted