.dashboard-container
  .dashboard
    h2 Update SQL Database
    .titles
      em.left 
        | Company
      em.right
        | Freelancer
    .participant
      .company
        .logo 
      .freelancer
        .avatar
        .name
          p ARVIND SWAMY
          small Java Engineer
    .status
      em Status
    .info-row
      .left
        em Files
        a mpasve02.sql
        small 10/22/2015
      .right
        a Upload