.landing-header
  min-width: 0px
  width: 100%
  overflow: none
  height: 464px

  .header-text
    position: absolute
    top: 110px
    display: block
    margin: auto
    z-index: 2
    width: 100%

    .quotes
      display: none

    h1
      display: block
      font-size: 3em
      margin: 0 auto
      letter-spacing: 0.5px

// Top Text

.top-text
  background: white
  padding: 60px 10px

  h2
    header3()
    color: #444
    line-height: 1.2
    letter-spacing: 0
    padding: 0px 5px

.desktop
  display: none