#steps-section
	max-width: 100%
	margin: auto
	padding: auto
	position: relative
	
	hr
		display: none

	.background-color.mobile
		display: block

	.background-color
		background-color: white

		.center-pad
			background-image: url('https://s3.amazonaws.com/igotmywork/how_it_works/membership.png')
			background-repeat: no-repeat
			background-size: 65% auto
			background-position: center
			-webkit-background-repeat: no-repeat
			-webkit-background-size: 65% auto
			-webkit-background-position: center
			border-bottom: 1px solid #ccc
			height: 340px

		.center-pad.two
			background-image: url('https://s3.amazonaws.com/igotmywork/how_it_works/profile.png')

		.center-pad.three
			background-image: url('https://s3.amazonaws.com/igotmywork/how_it_works/monitor.png')

		.center-pad.four
			background-image: url('https://s3.amazonaws.com/igotmywork/how_it_works/benefits.png')
			border: none

	h3
		padding-top: 40px
		margin-bottom: 20px
		margin-top: 0
		margin-left: 5%

	p, em
		max-width: 90%
		margin: 5px auto 0

	.image-container
		stack()
		background-size: 300px auto
		background-repeat: no-repeat
		float: left
		height: 300px
		display: none

	.step-container
		center()
		display: none

	.step
		display: none
		width: 1220px
		overflow: hidden
		margin: auto
		padding-left: 40px
		padding-right: 20px

	.step-container.right
		display: none