section.signup-header
    .container
        .signup.user
            h2 Freelancer
            form(method="post")
                .error-message
                .visible
                    em Name
                    input( name="name", type="text", placeholder="First and Last Name" )
                    em Email
                    input( name="email", type="text", placeholder="Email" )
                    em Mobile
                    input( name="phone", type="text", placeholder="Phone" )
                    em Create Password
                    input( name="pass", type="password", placeholder="Create Password" )
                    em Confirm Password
                    input( name="confirm", type="password", placeholder="Confirm" )
                input( type="text", name="_gotcha", style="display:none")
            .submit-button
                button GO