script(src="https://js.stripe.com/v2/")
script(src="/vendor/payment.js")

.error-message.payment
em Cardholder Full Name
input( name="cardHolder", type="text", placeholder="First and Last Name" )
em.inline Payment Card Number
input( name="payment-card", type="text", placeholder="XXXX XXXX XXXX XXXX" )
em.inline Expiration
    input( name="expiration", type="text", placeholder="XX/XX" )
em.inline CVV
    input( name="cvv", type="text", placeholder="XXX" )
input( type="text", name="_gotcha", style="display:none")