section.signup-header
  h1 GET STARTED
  .container
    .signup.user
      h2 Enter Payment Information
      form#payment-form(method="post")
        include ./form
          .payment-errors
          img(style="padding-top:30px;height:10px", src="https://s3.amazonaws.com/igotmywork/signup/dots_three.png")
          .submit-button
            button SUBMIT