extends ../base

block style
  link(rel="stylesheet", href="dist/css/landing_page.css")
  script( src="vendor/jquery-latest.min.js" )

block title
  title IGotMyWork
  meta( name="description", content="India's Biggest Freelance Portal" )

block content
  include ../../templates/landing_page/mobile
