extends ../base

block extendStyles
  link( rel="stylesheet", href="/dist/css/landing_page.css" )
  script( src="vendor/landing_page/text_switch.js" )
  script( src="vendor/landing_page/hideme.js" )

block title
  title IGotMyWork
  meta( name="description", content="Cents is a team of software engineers, graphic designers and creative problem solvers devoted to changing the world through design" )

block content
  include ../../templates/landing_page/desktop
