extends ../base

block style
  link(rel="stylesheet", href="dist/css/landing_page.css")
  script( src="vendor/jquery-latest.min.js" )
  script( src="vendor/text_switch.js" )

block title
  title IGotMyWork
  meta( name="description", content="Cents is a team of software engineers, graphic designers and creative problem solvers devoted to changing the world through design" )

block content
  include ../../templates/landing_page/desktop
