.dashboard-container
	border-top: 62px solid #222
	background-color: white
	height: auto
	padding-bottom: 100px

	h2
		padding-bottom: 40px
		padding-top: 40px
		margin-bottom: 40px
		text-align: center
		header2()
		font-weight: 700
		letter-spacing: -1px
		border-bottom: 1px solid #eee

	.dashboard
		background-color: white
		border-top: 62px solid transparent
		max-width: 700px
		margin: 40px auto 0
		border-radius: 5px
		border: 1px solid yellow

		section.files-row
			max-width: 646px
			width: 100%
			display: inline-block
			padding-bottom: 40px
			border-top: 1px solid #ddd
			line-height: 20px
			padding-left: 55px
			margin-right: 50px

			.left
				col(1/2)

				em
					display: block
					text-transform: uppercase
					color: #333
					font-size: 0.80em
					font-weight: 500
					padding-bottom: 25px
					padding-top: 30px

				a
					text-decoration: none
					font-size: 0.77em
					display: block
					color: $primary-color
					cursor: pointer
				
				small
					display: block
					font-size: 0.77em
					color: #777
			
			.right
				col(1/2)
				
				.uploadimgbtn
					display: block
					cursor: pointer
					text-align: right
					color: $primary-color
					font-size: 0.80em
					font-weight: 300
					padding-bottom: 30px
					padding-top: 30px
					padding-right: 50px

		.dashboard-buttons
			text-align: center
			border-top: 1px solid #eee
			padding-bottom: 30px

			button
				button()
				text-transform: none
				letter-spacing: 0.5px
				background-color: #FF6363
				margin: 40px 10px 0
				display: inline
				width: 300px
				padding-top: 12px
				padding-bottom: 12px

			.deliver
				background-color: #3F8CD8
				font-size: 13px
				font-weight: 400

				&:hover, &.active
					background-color: #3273b5
					single-transition( background-color )

			.cancel
				background-color: #aaa
				font-size: 13px
				font-weight: 400

				&:hover, &.active
					background-color: #999
					single-transition( background-color )
	
	#alert
		alert()