.dashboard-container
	border-top: 62px solid #222
	background-color: #eee
	height: auto
	padding-bottom: 100px
	z-index: 1

	h2
		padding-bottom: 40px
		padding-top: 40px
		margin-bottom: 40px
		text-align: center
		header3()
		border-bottom: 1px solid #ddd

	.dashboard
		background-color: white
		border-top: 62px solid transparent
		position: relative
		z-index: 2
		max-width: 700px
		margin: 40px auto 0
		border-radius: 5px
		border: 1px solid #ddd

		.titles
			max-width: 700px
			display: inline
			margin: auto
			padding-left: 50px
			
			em.left
				col(3/7)
				shift(1/14)
				padding-bottom: 20px
				text-transform: uppercase
				color: #333
				font-size: 0.80em
				font-weight: 500
			
			em.right
				col(1/2)
				shift(1/25)
				padding-bottom: 20px
				text-transform: uppercase
				color: #333
				font-size: 0.80em
				font-weight: 500

		.participant
			max-width: 700px
			margin-left: 50px
			
			.company
				col(3/7)
				
				.logo
					background-image: url('https://s3.amazonaws.com/igotmywork/duniya.png')
					height: 200px
					background-size: auto 100px
					background-repeat: no-repeat

			.freelancer
				col(1/2)
				
				.avatar
					col(1/3)
					background-image: url('https://s3.amazonaws.com/igotmywork/user_profile/avatar.png')
					height: 200px
					background-size: auto 100px
					background-repeat: no-repeat
				
				.name
					col(2/3)
					shift(1/20)
					
					p
						font-size: 0.80em
						position: absolute
						margin-top: 30px
						display: inline-block
					
					small
						position: relative
						top: 50px
						font-size: 0.8em
						color: #999
						font-weight: 300
						margin-top: 40px

		.status
			position: relative
			
			em
				display: block
				text-transform: uppercase
				color: #333
				font-size: 0.80em
				font-weight: 500
				padding-bottom: 30px
				padding-top: 40px
				padding-left: 50px

		.info-row
			max-width: 646px
			width: 100%
			display: inline-block
			padding-bottom: 40px
			border-top: 1px solid #ccc
			line-height: 20px
			padding-left: 55px
			margin-right: 50px

			.left
				col(1/2)

				em
					display: block
					text-transform: uppercase
					color: #333
					font-size: 0.80em
					font-weight: 500
					padding-bottom: 30px
					padding-top: 40px

				a
					text-decoration: none
					font-size: 0.77em
					display: block
					color: $primary-color
					cursor: pointer
				
				small
					display: block
					font-size: 0.77em
					color: #777
			
			.right
				col(1/2)
				
				a
					display: block
					text-align: right
					color: $primary-color
					font-size: 0.80em
					font-weight: 300
					padding-bottom: 30px
					padding-top: 40px
					padding-right: 50px