#steps-section.header
  border-top: 62px solid #323232
  height: 700px

  img
    &:first-child
      display: block
      height: 35px
      padding-top: 80px
      padding-bottom: 60px

  h1
    font-family: $Gotham
    font-size: 2.4em
    font-weight: 500
    color: #00A3A3
    line-height: 1.2
    letter-spacing: 0px
    padding-right: 5px
    padding-bottom: 20px

  .image-container
    col(3/5)
    clearfix()
    background-image: url('https://s3.amazonaws.com/mycents/photos/centsdevshop/portfolio/Three/three_desktop.png')
    background-size: 93%
    background-repeat: no-repeat
    background-position: center
    float: right
    opacity: 1
    margin: 40px auto 10px
    overflow: hidden