#steps-section
	max-width: 100%
	margin: auto
	padding: auto
	position: relative
	background-color: #00A3A3

	.background-color.mobile
		display: none

	.background-color
		background-color: #F0F0F0
		width: 100%

		.center-pad
			background-image: url('https://s3.amazonaws.com/mycents/photos/centsdevshop/portfolio/Three/three_03.png')
			background-repeat: no-repeat
			background-size: auto 650px
			height: 700px
			background-position: center
			-webkit-background-repeat: no-repeat
			-webkit-background-size: auto 650px
			-webkit-background-position: center
			border-bottom: 3px solid #ccc

		.center-pad.two
			background-image: url('https://s3.amazonaws.com/mycents/photos/centsdevshop/portfolio/Three/three_04.png')
			background-size: cover
			background-attachment: fixed
			height: 550px
			border: none

		.center-pad.six
			display: none

	h2
		font-family: $Gotham
		font-size: 2.1em
		font-weight: 300
		margin-bottom: 20px
		text-align: center
		letter-spacing: 0.2px
		line-height: 45px
		color: #00A3A3
		padding-top: 80px
		margin-bottom: 0px

	h3
		margin-top: 216px
		font-family: $Gotham
		font-size: 2.1em
		font-weight: 300
		margin-bottom: 20px
		width: 400px
		letter-spacing: 0.2px
		line-height: 45px

	p
		width: 330px
		paragraph()
		margin-bottom: 0px
		padding-bottom: 0px
		line-height: 1.5

	.image-container
		col(3/5)
		clearfix()
		background-image: url('https://s3.amazonaws.com/mycents/photos/centsdevshop/portfolio/Three/three_desktop.png')
		height: 507px
		background-size: cover
		float: right
		opacity: 1
		margin: 95px auto 10px
		overflow: hidden

	.image-container.two
		background-image: url('https://s3.amazonaws.com/mycents/photos/centsdevshop/portfolio/Three/three_02.png')

	.step-container
		center()
		background-color: white
		height: 700px
		padding-top: 50px
		display: block
		margin: auto
		overflow: hidden
		max-width: 100%

		.step
			width: 1220px
			overflow: hidden
			margin: auto
			padding-left: 40px
			padding-right: 20px
			@media (max-width: 1023px)
				padding-top: 40px
				padding-bottom: 20px

	.step-container.right
		position: relative
		max-width: 100%
		margin: auto
		background-color: #00A3A3

		.step
			width: 1220px
			overflow: hidden
			margin: auto
			padding-right: 20px
			padding-left: 0

		.image-container
			col(2/5)
			background-image: none
			height: 700px
			opacity: 1
			float: right
			position: relative
			right: -60px
			padding: 0
			margin-top: 0px
			background-color: #00A3A3
			@media(max-width: 1210px)
				position: absolute
				right: 20px
				padding-left: 45px

		.text-container
			col(3/5)
			clearfix()
			background-image: url('https://s3.amazonaws.com/mycents/photos/centsdevshop/portfolio/Three/three_01.png')
			height: 557px
			background-size: cover
			float: left
			opacity: 1
			margin: 70px auto 10px
			overflow: hidden

		h4
			background-color: #F46060
			padding: 13px 4px 10px
			text-align: center

	.step-container.three
		background-color: #f7f7f7

	.evaluate-form
		@media(max-width: 1024px)
			position: relative
			left: 18px
			margin-right: 0px

	.input-container
		col(1/3)
		clearfix()
		margin-top: 0px