section#clients
  h2 Start working today.
  .clients-table
  .signup-buttons
    button.company
      a( href="/get-started" ) WE'RE A COMPANY
    button.engineer
      a( href="/get-started" ) I'M AN ENGINEER