.header-photo
.landing-header-inner
.header-text
  h1 Let's Get to Work.
  .hr
  p Connect with talent on India's #1 Freelance Website.
  .header-buttons
    button.company
      a( href="/get-started" ) WE'RE A COMPANY
    button.engineer
      a( href="/get-started" ) I'M AN ENGINEER