.header-photo
.landing-header-inner
  .header-text
    h1 India's #1 Freelance Website &nbsp;
      .quotes
        | Hire talent.
      .quotes
        | Connect with tech companies.
      .quotes
        | Build your portfolio.
    .header-buttons
      button.company
        a( href="/login-company" ) I'M A COMPANY
      button.engineer
        a( href="/login-user" ) I'M AN ENGINEER
