.landing-header-inner
  .header-text
    h1
      | Cents is a digital agency &&nbsp;
      span.quotes
        | software factory
      span.quotes
        | creative studio
      span.quotes
        | UX playground
    button
      a( href="/contact" ) SETUP A MEETING
