.icon-panel
  h2 Membership
  .icon-row
    a.icon-tile(href="/pricing")
      img(src="https://s3.amazonaws.com/igotmywork/Student-Icons.png")
      .hr
      .text
        h5 Student
        p You can signup as a student for internship and final year project. Submit your resume and college NOC to signup.
        em view more...
    a.icon-tile(href="/pricing")
      img(src="https://s3.amazonaws.com/igotmywork/FreeFreelanceIcon.png")
      .hr
      .text
        h5 Free
        p You can signup as a student for internship and final year project. Submit your resume and college NOC to signup.
        em view more...
    a.icon-tile(href="/pricing")
      img(src="https://s3.amazonaws.com/igotmywork/PaidFreelanceIcon.png")
      .hr
      .text
        h5 Premium
        p You can signup as a student for internship and final year project. Submit your resume and college NOC to signup.
        em view more...
    a.icon-tile(href="/pricing")
      img(src="https://s3.amazonaws.com/igotmywork/Company-TeamIcon.png")
      .hr
      .text
        h5 Company
        p You can signup as a student for internship and final year project. Submit your resume and college NOC to signup.
        em view more...
