.boxes
  h2 Most Popular Technologies
  p We are transparent in our business policy and we share our skills report every month. See what our developers are doing this month.
  .tiles-container
    .tile
      .icon
        img( src="https://s3.amazonaws.com/igotmywork/95%25.png" )
      h6 ASP.NET
    .tile
      .icon
        img( src="https://s3.amazonaws.com/igotmywork/90%25.png" )
      h6 PHP
    .tile
      .icon
        img( src="https://s3.amazonaws.com/igotmywork/85%25.png" )
      h6 JAVA
    .tile
      .icon
        img( src="https://s3.amazonaws.com/igotmywork/90%252.png" )
      h6 ANDROID