section.technologies
	h2 Technology Buckets
	.tiles-container
		.tile.one
			.icon
				img( src="https://s3.amazonaws.com/igotmywork/net-logo.png" )
			.text
				h5 .NET
				p Website and Software Development, ERP
		.tile.two
			.icon
				img( src="https://s3.amazonaws.com/igotmywork/php-logo.png" )
			.text
				h5 PHP
				p Web application, open source development
		.tile.three
			.icon
				img( src="https://s3.amazonaws.com/igotmywork/java-logo-.png" )
			.text
				h5 JAVA
				p Robust and secure applications
	.tiles-container
		.tile.four
			.icon
				img( src="https://s3.amazonaws.com/igotmywork/Android_Robot_logo.png" )
			.text
				h5 ANDROID
				p Build Android-based apps easily
		.tile.five
			.icon
				img( src="https://s3.amazonaws.com/igotmywork/apple-logo.png" )
			.text
				h5 iPHONE
				p Get an app on Apple's App Store
		.tile.six
			.icon
				img( src="https://s3.amazonaws.com/igotmywork/python-logo.png" )
			.text
				h5 C/C++/Python
				p Large, cross-platform software applications