section.project_header
  .header-container(style="opacity: 1")
    h1.project-title Projects
    .search-bar
      form
        input(type="text", name="search", placeholder="Search",class="search_projects", id="search")
      select( name="knowledgeLevel", type="text" )
        option(value="", disabled selected) Skill
        option( name="Novice", type="text", value="$" ) Novice
        option( name="Intermediate", type="text", value="$$" ) Intermediate
        option( name="Expert", type="text", value="$$$" ) Expert
      select( name="duration", type="text" )
        option(value="", disabled selected) Length
        option( value="short", type="text") Less than 1 week
        option( value="medium", type="text" ) 1 - 4 weeks
        option( value="long", type="text" ) 1 - 2 months
        option( value="longest", type="text" ) Over 2 months
      select( name="rate", type="text", placeholder="Weekly Hours" )
        option(value="", disabled selected) Weekly Hours
        option( name="short", type="text" ) Less than 1 week
        option( name="medium", type="text" ) 1 - 4 weeks
        option( name="long", type="text" ) 1 - 2 months
        option( name="longest", type="text" ) Over 2 months