.project_index
  .dashboard-container
    .content
      .search-bar
        form
          input(type="text", placeholder="Search for Projects")
        select( name="skill", type="text" )
          option(value="", disabled selected) Skill
          option( name="Novice", type="text" ) Novice
          option( name="Intermediate", type="text" ) Intermediate
          option( name="Expert", type="text" ) Expert
        select( name="skill", type="text" )
          option(value="", disabled selected) Length
          option( name="short", type="text" ) Less than 1 week
          option( name="medium", type="text" ) 1 - 4 weeks
          option( name="long", type="text" ) 1 - 2 months
          option( name="longest", type="text" ) Over 2 months
        select( name="skill", type="text", placeholder="Weekly Hours" )
          option(value="", disabled selected) Weekly Hours
          option( name="short", type="text" ) Less than 1 week
          option( name="medium", type="text" ) 1 - 4 weeks
          option( name="long", type="text" ) 1 - 2 months
          option( name="longest", type="text" ) Over 2 months