.project-index
  .tiles-row
    a.project-tile.tile1
      .text
        h5 iOS Developer
        p Currently Alyvia sleeps with one of her parents, and they wake up every 15-30 minutes checking on a video monitor in fear of missing that nighttime seizure.
        small iOS XCode iPhone
        em $12/hr | $1500 Min
    a.project-tile.tile2
      .text
        h5 SQL Engineer
        p Currently Alyvia sleeps with one of her parents, and they wake up every 15-30 minutes checking on a video monitor in fear of missing that nighttime seizure.
        small iOS XCode iPhone
        em $10/hr | $125 Min
    a.project-tile.tile3
      .text
        h5 Android Developer
        p Currently Alyvia sleeps with one of her parents, and they wake up every 15-30 minutes checking on a video monitor in fear of missing that nighttime seizure.
        small iOS XCode iPhone
        em $50/hr | $50 Min
    a.project-tile.tile4
      .text
        h5 Ruby Engineer
        p Currently Alyvia sleeps with one of her parents, and they wake up every 15-30 minutes checking on a video monitor in fear of missing that nighttime seizure.
        small iOS XCode iPhone
        em $30/hr | $700 Min
  .tiles-row
    a.project-tile.tile1
      .text
        h5 iOS Developer
        p Currently Alyvia sleeps with one of her parents, and they wake up every 15-30 minutes checking on a video monitor in fear of missing that nighttime seizure.
        small iOS XCode iPhone
        em $12/hr | $1500 Min
    a.project-tile.tile2
      .text
        h5 SQL Engineer
        p Currently Alyvia sleeps with one of her parents, and they wake up every 15-30 minutes checking on a video monitor in fear of missing that nighttime seizure.
        small iOS XCode iPhone
        em $10/hr | $125 Min
    a.project-tile.tile3
      .text
        h5 Android Developer
        p Currently Alyvia sleeps with one of her parents, and they wake up every 15-30 minutes checking on a video monitor in fear of missing that nighttime seizure.
        small iOS XCode iPhone
        em $50/hr | $50 Min
    a.project-tile.tile4
      .text
        h5 Ruby Engineer
        p Currently Alyvia sleeps with one of her parents, and they wake up every 15-30 minutes checking on a video monitor in fear of missing that nighttime seizure.
        small iOS XCode iPhone
        em $30/hr | $700 Min