#steps-section.header
  height: auto

  img
    &:first-child
      display: block
      margin: auto
      height: 35px
      padding-top: 40px
      padding-bottom: 30px
    &:nth-child(2)
      max-width: 85%
      height: auto
      margin: auto
      display: block
      text-align: center

  h1
    font-size: 1.7em
    text-align: center
    padding-top: 40px
    padding-left: 20px

  p
    padding-bottom: 40px