section.signup-header
  .container
    .signup.company
      h2 Company
      form#payment-form(method="post", action="/signup-company")
        em Enter Company Info
        input( name="companyName", type="text", placeholder="Company Name", autofocus )
        input( name="userName", type="text", placeholder="Full Name" )
        input( name="phone", type="text", placeholder="Phone" )
        em Create Account
        input( name="email", type="text", placeholder="Email" )
        input( name="password", type="text", placeholder="Create Password" )
        input( name="confirm", type="text", placeholder="Confirm Password" )
        input( type="text", name="_gotcha", style="display:none")
        include ../payment/form
      .submit-button
        button Go