section.signup-header
  .container
    .signup.company
      h2 Company
      form(method="post")
        em Company
        input( name="email", type="text", placeholder="Company Name" )
        em Company Expertise (dropdown)
        input( name="name", type="text", placeholder="Expertise" )
        em Contact Name
        input( name="email", type="text", placeholder="Full Name" )
        em Phone
        input( name="name", type="text", placeholder="Phone" )
        em Email
        input( name="email", type="text", placeholder="Email" )
        em Password
        input( name="name", type="text", placeholder="Create Password" )
        input( type="text", name="_gotcha", style="display:none")
  .submit-button
    button SUBMIT