section.selection
  border-top: 62px solid transparent
  max-width: 100%
  margin: 80px auto
  min-height: 800px

  h2
    header3()
    letter-spacing: -2px
    margin-bottom: 20px

  .half
    stack()
    height: 380px
    padding: 0 0px 40px
    border-bottom: 1px solid #ccc

  .right
    border-bottom: none

    a

  .mobile
    display: block

#open, #open-user
  display: none

#info, #info-user
  display: none