footer
  section
    .tiles-container

      .tile
        h6 Get in touch
        button
          a(href="/contact") SEND A MESSAGE
        table
          tr
            td
              img(src="https://s3.amazonaws.com/mycents/photos/icons/email_gray.png")
            td
              a(href='mailto:info@mycents.co') info@mycents.co

      .tile
        h6 Offices
        p 315 W 36 St
        p Floor Six
        p New York, NY 10018
        p Tel: 203.293.2594

      .tile
        h6 Social
        a( href="https://www.facebook.com/Centscere" ) facebook
        a( href="https://twitter.com/centscere" ) twitter
        a( href="http://blog.mycents.co" ) blog

      .tile
        h6 Legal & Privacy
        a( href="/terms-of-service" ) terms of service
        a( href="/privacy-policy" ) privacy policy
        a( href="/privacy-policy" ) security

  section.bottom
    .tile
      img( src="https://s3.amazonaws.com/mycents/photos/landing_page/footer+logos/cents.png")
    .tile
      h6 © Centscere LLC | Founded 2012
    .tile
      img( src="https://s3.amazonaws.com/mycents/photos/website-header/bcorpwhite.png")