.header-photo
.landing-header-inner
  .header-text
    h1 How it Works
    .header-buttons
      button.company
        a( href="/get-started" ) WE'RE A COMPANY
      button.engineer
        a( href="/get-started" ) I'M AN ENGINEER
