#steps-section

	.step-container.right.off-screen
		.step
			.left-container
			.right-container
				.text-block
					span Choose Membership.
					a(href="/get-started")
						button Learn More
				br
				p
					| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere ultricies sollicitudin. In a tempus purus. Aliquam vel justo ac nisi blandit molestie quis non eros. Quisque massa ipsum, scelerisque non neque et, tincidunt egestas diam. Vestibulum consectetur dui non lectus efficitur, in semper lectus gravida.
				br
				em 
					span • Free
					span(style='color:#222')&nbsp;- $0
				em
					span • Student
					span(style='color:#222')&nbsp;- $147/year
				em
					span • Premium
					span(style='color:#222')&nbsp;- $499/5 years
				em
					span • Company
					span(style='color:#222')&nbsp;- $999/year
	hr
	.center-pad
	.step-container.off-screen
		.step
			.left-container
				.text-block
				h3 Make a Profile.
				br
				em We're a Company
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere ultricies sollicitudin. In a tempus purus. 
				br
				em I'm an Engineer
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere ultricies sollicitudin. In a tempus purus. 
				br
				em I'm a Manager
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere ultricies sollicitudin. In a tempus purus. 
			.right-container
	hr
	.step-container.right.off-screen
		.step
			.left-container.three
			.right-container
				.text-block
					h3 Post Jobs, Start Working.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere ultricies sollicitudin. In a tempus purus. Aliquam vel justo ac nisi blandit molestie quis non eros. Quisque massa ipsum, scelerisque non neque et, tincidunt egestas diam. Vestibulum consectetur dui non lectus efficitur, in semper lectus gravida.
				br
				em 					
					span •
					span(style='color:#222')&nbsp; Hire Remotely.
				em
					span •
					span(style='color:#222')&nbsp; Increase Projects.
				em 
					span •
					span(style='color:#222')&nbsp; Build Your Portfolio.
				em 
					span •
					span(style='color:#222')&nbsp; Be Your Own Boss.
	hr
	.step-container.off-screen
		.step
			.left-container
				.text-block
					h3 Why Choose Us?
					br
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere ultricies sollicitudin. In a tempus purus. Aliquam vel justo ac nisi blandit molestie quis non eros. Quisque massa ipsum, scelerisque non neque et, tincidunt egestas diam. Vestibulum consectetur dui non lectus efficitur, in semper lectus gravida.
				br
				em • We Believe in Quality
				em • We Deliver on Time
				em • We Believe in Project Budgeting
				em • We Find the Best Developers
			.right-container.four
	.step
		button Sign up Now