#steps-section
	.background-color.mobile
		h3 Choose Membership
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere ultricies sollicitudin. In a tempus purus. Aliquam vel justo ac nisi blandit molestie quis non eros. Quisque massa ipsum, scelerisque non neque et, tincidunt egestas diam. Vestibulum consectetur dui non lectus efficitur, in semper lectus gravida.
		.center-pad
	.background-color.mobile
		h3 Make a Profile
		br
		em We're a Company
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere ultricies sollicitudin. In a tempus purus. 
		br
		em I'm an Engineer
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere ultricies sollicitudin. In a tempus purus. 
		br
		em I'm a Manager
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere ultricies sollicitudin. In a tempus purus. 
		.center-pad.two
	.background-color.mobile
		h3 Post Jobs, Start Working.
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere ultricies sollicitudin. In a tempus purus. Aliquam vel justo ac nisi blandit molestie quis non eros. Quisque massa ipsum, scelerisque non neque et, tincidunt egestas diam. Vestibulum consectetur dui non lectus efficitur, in semper lectus gravida.
		br
		em • Hire Remotely.
		em • Increase Projects.
		em • Build Your Portfolio.
		em • Be Your Own Boss.
		.center-pad.three
	.background-color.mobile
		h3 Why Choose Us?
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam posuere ultricies sollicitudin. In a tempus purus. Aliquam vel justo ac nisi blandit molestie quis non eros. Quisque massa ipsum, scelerisque non neque et, tincidunt egestas diam. Vestibulum consectetur dui non lectus efficitur, in semper lectus gravida.
		em • We Believe in Quality
		em • We Deliver on Time
		em • We Believe in Project Budgeting
		em • We Find the Best Developers
		.center-pad.four
	.background-color.mobile
		a(href="/get-started")
			button Sign Up Now