#steps-section
	.step-container.off-screen
		.step
			.image-container
			form.input-container.evaluate-form
				h3
					| Dynamic Navigation
				p
					| Navigating a large department store can be overwhelming in person, let alone online. We strategically layered the navigation menu to provide the user with a clear department and sub-department information hierarchy. We imagined it just like the store: separate departments by floor, and separate the floors by brand.
	.background-color.mobile
		h3 Dynamic Navigation
		p Navigating a large department store can be overwhelming in person, let alone online. We strategically layered the navigation menu to provide the user with a clear department and sub-department information hierarchy. We imagined it just like the store: separate departments by floor, and separate the floors by brand.
		.center-pad.six
	.background-color
		.center-pad
	.background-color
		.center-pad.two
	.step-container.right.off-screen
		.step
			.text-container
			.input-container.image-container
				h3(style='color:#222')
					| Cross-Platform UX
				p(style='color:#222')
					| Instead of duplicating a congested department store website like Macy's, the shopping experience was guided through catalogs. Another key, but often neglected part of design is limiting the width of the container in which content is displayed. Though this approach can be less visually appealing, we've found that user's prefer desktop experiences that mimic those of mobile.
	.background-color.mobile
		h3 Cross-Platform UX
		p Instead of duplicating a congested department store website like Macy's, the shopping experience was guided through catalogs. Another key, but often neglected part of design is limiting the width of the container in which content is displayed. Though this approach can be less visually appealing, we've found that user's prefer desktop experiences that mimic those of mobile.
		.center-pad.seven
	.background-color
		.center-pad.three
	.background-color
		.center-pad.four
