global-reset()

@import "../../utilities/variables"
@import "../../utilities/font"
@import "../../utilities/colors"
@import "../../utilities/mixins"

body
  font-family: $Gotham

@import "../general/top_nav/main"

@import './responsive/main'

@import "../general/footer/main"
