section.project_index
  background-color: #eee

  .dashboard-container
    padding: 20px 10px

    .sidebar
      display: none
      
      a
        col(1/4)
        font-size: 10px

    .content
      stack()
      height: auto
      box-shadow: none
      border: none
      

      a.project-listing
        stack()
        max-width: 100%
        padding: 30px 20px
        margin-top: 0
        width: auto
        height: auto
        border-top: 20px solid #eee
        
        em
          font-size: 0.6em
          vertical-align: middle
        
        span
          col(1/5)
          font-size: 8px
          font-weight: 400
          letter-spacing: -0.2px
          text-align: center
          box-shadow: 0px 8px 0 0 #ddd, 0px 3px 0 0 #ddd, 0px -8px 0 0 #ddd, 0px 3px 0 0 #ddd
          margin-bottom: 10px
          vertical-align: middle

        .tags
          display: block
          clearfix()
          
          p.skills
            display: none
          
          p
            col(1/4, gutter: 1.5)
            border-radius: 2px
            clearfix()
            text-align: center
            font-size: 0.4em

#overlay
  opacity: 0
  background-color: #fff
  position: absolute
  top: 0px
  left: 0px
  z-index: 50
  padding-top: 250px
  width: 100%
  height: 100%
  visibility: hidden

#info
  opacity: 0
  top: 0px
  margin: 100px auto 0px
  padding: 0px 0px
  width: auto
  max-width: 100%
  height: auto
  background: transparent
  z-index: 51
  position: absolute
  visibility: hidden

#overlay + div
  width: auto

  img#close
    float: right
    position: absolute
    cursor: pointer
    top: 20px
    margin-top: -80px
    right: 20px
    height: 30px